unless omitAccount
    div.fab-theme-container
        button.button.is-primary.fab-theme.is-floating.is-light(aria-label="Theme" title="Change Theme")
            i.material-symbols-rounded brightness_high
        div
            button.button.is-primary.fab-theme.is-floating(aria-label="Theme" title="System")
                i.material-symbols-rounded settings_brightness
            button.button.is-primary.fab-theme.is-floating(aria-label="Theme" title="Dark")
                i.material-symbols-rounded brightness_4
            button.button.is-primary.fab-theme.is-floating(aria-label="Light" title="Light")
                i.material-symbols-rounded brightness_high
footer(style="position: relative;")
    p
        span v#{process.env.npm_package_version} | &copy; 2022 Siddhant K. All Rights Reserved. 
            a.a(href="/#credits") Credits
        span v#{process.env.npm_package_version} - 
            a.a(href="/#credits") Credits
    div
        div
            a.a(href="/privacy/") Privacy Policy
            |  | 
            a.a(href="/#discord") Discord
            |  | 
            a.a(href="https://nightly.vocabustudy.org/" target="_blank") Nightly 
            a(href="https://github.com/For-0/vocabustudy/blob/main/README.md#what-is-nightly" style="color:white") (?)
            |  | 
            a.a(href="https://github.com/orgs/For-0/projects/2/insights/1" target="_blank") Leaderboard
        div(style="transform-origin: right; transform: scale(0.8);")
            a.mdc-icon-button(href="/privacy/" title="Privacy")
                .mdc-icon-button__ripple
                i.material-symbols-rounded security
            a.mdc-icon-button(href="/#discord" title="Discord")
                .mdc-icon-button__ripple
                i.material-symbols-rounded question_answer
            a.mdc-icon-button(href="https://nightly.vocabustudy.org/" target="_blank" title="Nightly")
                .mdc-icon-button__ripple
                i.material-symbols-rounded bug_report
            a.mdc-icon-button(href="https://github.com/orgs/For-0/projects/2/insights/1" title="Leaderboard")
                .mdc-icon-button__ripple
                i.material-symbols-rounded leaderboard
