unless omitAccount
  div.fab-theme-container
    button.mdc-fab.fab-theme(aria-label="Theme" title="Change Theme")
      .mdc-fab__ripple
      span.mdc-fab__icon.material-icons-round brightness_high
    div
      button.mdc-fab.fab-theme(aria-label="Theme" title="System")
        .mdc-fab__ripple
        span.mdc-fab__icon.material-icons-round settings_brightness
      button.mdc-fab.fab-theme(aria-label="Theme" title="Dark")
        .mdc-fab__ripple
        span.mdc-fab__icon.material-icons-round brightness_4
      button.mdc-fab.fab-theme(aria-label="Light" title="Light")
        .mdc-fab__ripple
        span.mdc-fab__icon.material-icons-round brightness_high
footer(style="position: relative;")
  p
    span v#{process.env.npm_package_version} | &copy; 2022 Siddhant K. All Rights Reserved. 
      a.a(href="/#credits") Credits
    span v#{process.env.npm_package_version} - 
      a.a(href="/#credits") Credits
  div
    div
      a.a(href="/privacy/") Privacy Policy
      |  | 
      a.a(href="/#youtube") YouTube
      |  | 
      a.a(href="/#discord") Discord
      |  | 
      a.a(href="https://nightly.vocabustudy.org/" target="_blank") Nightly
      |  #[a(href="https://github.com/For-0/vocabustudy/blob/main/README.md#what-is-nightly" style="color:white") (?)]
      |  | 
      a.a(href="https://github.com/orgs/For-0/projects/2/insights/1" target="_blank") Leaderboard
    div(style="transform-origin: right; transform: scale(0.8);")
      a.mdc-icon-button(href="/privacy/" title="Privacy")
        .mdc-icon-button__ripple
        i.material-icons-round security
      a.mdc-icon-button(href="/#youtube" title="YouTube")
        .mdc-icon-button_ripple
        i.material-icons-round youtube_activity
      a.mdc-icon-button(href="/#discord" title="Discord")
        .mdc-icon-button__ripple
        i.material-icons-round question_answer
      a.mdc-icon-button(href="https://nightly.vocabustudy.org/" target="_blank" title="Nightly")
        .mdc-icon-button__ripple
        i.material-icons-round bug_report
      a.mdc-icon-button(href="https://github.com/orgs/For-0/projects/2/insights/1" title="Leaderboard")
        .mdc-icon-button__ripple
        i.material-icons-round leaderboard
