nav.navbar.is-primary.is-fixed-top(role="navigation" aria-label="main navigation")
    .navbar-brand
        a.navbar-item(href="/#")
            img(src="icons/icon-192.png" height="28" style="border: 0.1rem solid; border-radius: 1 rem; border-color: black;")
        a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="main-navbar")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
    #main-navbar.navbar-menu 
        .navbar-start
            a.navbar-item(href="/#") Home
            a.navbar-item(href="/#search") Browse Sets
            a.navbar-item(href="/#donate") Donate
            a.navbar-item(href="/help-center/") Help
        .navbar-end
            .navbar-item.has-dropdown.is-hoverable
                a.navbar-link Account
                .navbar-dropdown
                    a.navbar-item(href="/#saved-sets") Saved Sets
                    a.navbar-item.loggedin(hidden href="/#mysets") My Sets
                    a.navbar-item.loggedin.adminonly(hidden href="/#admin") Admin Portal
                    hr.navbar-divider
                    a.navbar-item.loggedin(hidden href="/#account") My Account
                    span#btn-logout.navbar-item.loggedin(hidden) Log Out
                    a.navbar-item.loggedout(hidden href="/#login") Log In