.warning-quizlet-not-supported.custom-scrollbar.is-thumb-only(hidden)
    section.hero.is-medium
        .hero-body
            .title Oh no!
            .subtitle You'll need to install the extension to convert Quizlet sets to Vocabustudy sets
            .subtitle #[a.is-inline-block(href="https://chrome.google.com/webstore/detail/eghgpfmnjfjhpfiipnpgmpfiggiejgop/") #[img.ignore-user-hue(style="height: 72px;" src="images/chrome-web-store.png?as=webp&quality=75" height="72")]]