rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isCreator() {
    	return auth() && resource != null && (resource.data.uid == request.auth.uid || request.auth.token.admin == true);
    }
    function isNotImpersonating(bypassName) {
    	return request.resource != null && (request.auth.token.admin == true || (request.resource.data.uid == request.auth.uid && (bypassName || request.resource.data.creator == request.auth.token.name)));
    }
    function onlyUpdated(keys) {
    	return request.resource.data.diff(resource.data).affectedKeys().hasOnly(keys);
    }
    function isBigEnough() {
      return request.resource.data.terms.size() >= 1;
    }
    function canAdminDelete() {
      return !request.auth.token.admin || resource.data.uid == request.auth.uid;
    }
    function auth() {
      return request.auth != null && request.auth.token.email_verified;
    }
    function limitResourceKeys(required, optional) {
      let keys = request.resource.data.keys();
      return keys.hasAll(required) && keys.hasOnly(required.concat(optional));
    }
    function nameWordsMatchesName() {
        let normalizedNameWords = request.resource.data.name.replace("[\\x{0300}-\\x{036F}]", "").replace("\\W", " ").lower().trim().split("\\s+").removeAll([" "]);
        return request.resource.data.nameWords.hasOnly(normalizedNameWords);
    }
    function canView() {
      return
        resource.data.visibility == 1 ||
        resource.data.visibility == 2 ||
        (resource.data.visibility is list && auth() && resource.data.visibility.hasAny([request.auth.token.email])) ||
        isCreator();
    }
    match /sets/{set_id} {
      allow get: if resource == null || canView();
      allow delete: if isCreator() && canAdminDelete();
      allow update: if isCreator() && onlyUpdated(["name", "terms", "description", "visibility"]) && isBigEnough();
      allow create: if auth() && limitResourceKeys(["name", "uid", "terms", "visibility"], ["description"]) && isNotImpersonating(true) && isBigEnough();
      match /social/{uid} {
        allow list, get: if true;
        allow delete: if auth() && uid == request.auth.uid;
        allow create, update: if auth() && uid == request.auth.uid && request.resource.data.keys().hasOnly(["name", "comment", "like", "leaderboard", "uid"]) && request.auth.uid == request.resource.data.uid && request.resource.data.name == request.auth.token.name;
      }
    }
    match /meta_sets/{set_id} {
      allow get: if resource == null || canView();
      allow list: if resource.data.visibility == 2 || isCreator();
      allow delete: if isCreator() && canAdminDelete();
      allow update: if isCreator() && onlyUpdated(["creator", "nameWords", "name", "numTerms", "collections", "visibility"]) && isNotImpersonating(false) && nameWordsMatchesName();
      allow create: if auth() && limitResourceKeys(["creator", "nameWords", "name", "numTerms", "collections", "uid", "visibility"], ["likes"]) && request.resource.data.likes == 0 && isNotImpersonating(false) && nameWordsMatchesName();
    }
    match /collections/{collection_id} {
      allow read: if true;
      allow delete: if isCreator();
      allow create: if auth() && limitResourceKeys(["name", "uid", "sets"], []) && isNotImpersonating(true);
      allow update: if isCreator() && onlyUpdated(["name", "sets"]);
    }
    match /{path=**}/social/{uid} {
      allow list: if auth() && request.auth.uid == resource.data.uid;
    }
    match /form_data/types/{test=**} {
      allow get: if request.auth.token.admin == true;
      allow create: if true;
    }
  }
}