#flashcards.page
    h1 Flashcards - #[span] #[+close_button]
        p.is-size-6.has-text-weight-bold(style="line-height: normal;")
            span 0
            |  / 
            span 0
            |  terms
    .columns.is-flex-touch
        .is-flex.column.is-narrow
            p.mb-2 #[strong Answer With:]
            .field
                input#radio-flashcards-answer-term.is-checkradio(type="radio" name="radio-flashcards-answer-with")
                label(for="radio-flashcards-answer-term") Term
            .field.mb-4
                input#radio-flashcards-answer-definition.is-checkradio(type="radio" name="radio-flashcards-answer-with" checked)
                label(for="radio-flashcards-answer-definition") Definition
            .field
                input#check-flashcard-starred.is-checkradio.is-gold(type="checkbox")
                label(for="check-flashcard-starred") Only Starred
            .mt-auto.is-flex-mobile.is-align-items-center
                button.button
                    +material-symbol("loop", false, true, 20)
                    span Shuffle
                .field.field-jump-to.is-flex-mobile.is-align-items-center
                    label.label Jump To
                    .field.has-addons
                        .control
                            input.input(type="number" min="1" required)
                        .control
                            button.button.is-info
                                +material-symbol("arrow_right_alt", false, true, 20)
        .column.is-flex.is-flex-direction-column
            .is-flex-grow-1.is-clickable.is-relative
            .is-flex.mt-5.is-justify-content-space-evenly
                button.button
                    kbd.is-hidden-touch.mr-1 ←
                    span Previous
                button.button.is-primary
                    +material-symbol("change_circle", false, true, 20)
                    span Flip #[kbd.is-hidden-touch Space]
                button.button
                    span Next
                    kbd.is-hidden-touch.ml-1 →