#match.page
    h1 Match - #[span] #[+close_button]
    .columns.is-flex-touch
        .is-flex.column.is-narrow
            p.mb-2 #[strong Answer With:]
            .field
                input#radio-match-answer-term.is-checkradio(type="radio" name="radio-match-answer-with" checked)
                label(for="radio-match-answer-term") Term
            .field.mb-4
                input#radio-match-answer-definition.is-checkradio(type="radio" name="radio-match-answer-with")
                label(for="radio-match-answer-definition") Definition
            .field.mb-4
                input#check-match-starred.is-checkradio.is-gold(type="checkbox")
                label(for="check-match-starred") Only Starred
            p Time: #[span.field-time 0.0]s
            button.button.mb-3
                +material-symbol("loop", false, true, 20)
                span Restart
            button.button.mb-3
                +material-symbol("help", false, true, 20)
        .columns.column.is-mobile
            .column.is-half.is-flex.is-flex-wrap-wrap.custom-scrollbar.is-align-items-start.is-align-content-start
            .column.is-half.is-flex.is-flex-wrap-wrap.custom-scrollbar.is-align-items-start.is-align-content-start