#test.page
    h1 Test - #[span] #[+close_button]
    .columns.is-flex-touch
        .is-flex.column.is-narrow(style="min-height: 0; overflow-y: auto; width: unset; flex: none;")
            button.button.is-hidden-tablet.is-primary-alt
                span.icon
                    i.material-symbols-rounded(aria-hidden="true") settings
            .is-flex-mobile.is-flex-direction-row.is-flex-wrap-wrap.is-align-items-center.is-justify-content-space-between.is-hidden-mobile
                p.mb-2 #[strong Answer With:]
                .field
                    input#radio-test-answer-term.is-checkradio(type="radio" name="radio-test-answer-with")
                    label(for="radio-test-answer-term") Term
                .field.mb-4
                    input#radio-test-answer-definition.is-checkradio(type="radio" name="radio-test-answer-with" checked)
                    label(for="radio-test-answer-definition") Definition
                p #[strong Question Types:]
                .field
                    input#check-test-question-sa.is-checkradio(type="checkbox")
                    label(for="check-test-question-sa") Short Answer
                .field
                    input#check-test-question-mc.is-checkradio(type="checkbox")
                    label(for="check-test-question-mc") Multiple Choice
                .field
                    input#check-test-question-mt.is-checkradio(type="checkbox")
                    label(for="check-test-question-mt") Matching
                .field.mb-3
                    input#check-test-question-tf.is-checkradio(type="checkbox")
                    label(for="check-test-question-tf") True/False
                .field.mb-4
                    input#check-test-starred.is-checkradio.is-gold(type="checkbox")
                    label(for="check-test-starred") Only Starred
                .field.mb-3
                    label.label Max Terms
                    .control
                        input.input.field-max-terms(type="number" min="0" placeholder="20")
            button.button.mb-2
                span.icon
                    i.material-symbols-rounded(aria-hidden="true") loop
                span New Test
            button.button.is-primary
                span.icon
                    i.material-symbols-rounded(aria-hidden="true") check_circle
                span Check Answers
        fieldset.custom-scrollbar.is-thumb-only.column
            h2.title.is-4(data-count='0')  Short Answer Question
            div
            h2.title.is-4(data-count='0')  Multiple Choice Question
            div
            h2.title.is-4.mb-1(data-count='0')  Matching Question
            p.mb-3 Select an item on the left, then choose the matching item on the right
            .columns.is-relative.is-variable.is-mobile(style="--columnGap: 5%;")
                .column.is-half(style="z-index: 2;")
                .column.is-half(style="z-index: 2;")
                .matches-container
            h2.title.is-4(data-count='0')  True/False Question
            div