@charset "utf-0";
/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */

$primary: #795548;
$secondary: #4F2B26;
$third: #411E1C;
$fourth: #280000;

// Note: Colors are the four browns in the VUS Logo. Goes from lightest to darkest.
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/box";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/title";
@import "bulma/sass/elements/other";
@import "bulma/sass/components/navbar";
@import "bulma/sass/components/card";
@import "bulma/sass/components/tabs";
@import "bulma/sass/components/modal";
@import "bulma/sass/components/dropdown";
@import "bulma/sass/components/level";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma-slider/src/sass";
@import "bulma-checkradio/src/sass";
@import "bulma/sass/form/_all";
@import "bulma/sass/layout/_all";
@import "bulma-switch/src/sass";
@import "@creativebulma/bulma-tooltip/src/sass";
@import "@creativebulma/bulma-divider/src/sass";
@import "bulma-list/sass/bulma-list";

.button.is-floating {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.6rem;
    box-shadow: 0 .0625em .125em rgba($scheme-invert,.05);
    z-index: 3;
    &.is-large {
        width: 90px;
        height: 90px;
        font-size: 2.6rem;
    }
    &.is-medium {
        width: 75px;
        height: 75px;
        font-size: 2.2rem;
    }
    &.is-small {
        width: 45px;
        height: 45px;
        font-size: 1.2rem;
        border-radius: 50px;
    }
}

.icon.is-large i {
    font-size: 36px;
    vertical-align: text-top;
}
.list.has-text-white {
    $text: white;
    .list-item-title {
        color: $grey-lightest;
    }
    .list-item-description {
        color: $grey-light;
    }
}
strong {
    color: black;
}