@charset "utf-8";
/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */

$primary: #795548;
$secondary: #4F2B26;
$third: #411E1C;
$fourth: #280000;
$footer-background-color: $primary;
$footer-color: #fff;
$footer-padding: 1rem;
$family-primary: "Raleway";

// Note: Colors are the four browns in the VUS Logo. Goes from lightest to darkest.
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/box";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/title";
@import "bulma/sass/elements/notification";
@import "bulma/sass/elements/other";
@import "bulma/sass/components/navbar";
@import "bulma/sass/components/card";
@import "bulma/sass/components/tabs";
@import "bulma/sass/components/modal";
@import "bulma/sass/components/dropdown";
@import "bulma/sass/components/level";
@import "bulma/sass/components/menu";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma-slider/src/sass";
@import "bulma-checkradio/src/sass";
@import "bulma/sass/form/_all";
@import "bulma/sass/layout/_all";
@import "bulma-switch/src/sass";
@import "@creativebulma/bulma-tooltip/src/sass";
@import "@creativebulma/bulma-divider/src/sass";
@import "bulma-list/sass/bulma-list";
@import "bulma-social/css/all";

// NOTE: Only alterations to bulma components or fixes should go here! Everything else goes in styles.scss
.button.is-floating {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.6rem;
    box-shadow: $box-shadow;
    z-index: 3;
    padding: 0;
    &.is-large {
        width: 90px;
        height: 90px;
        font-size: 2.6rem;
    }
    &.is-medium {
        width: 75px;
        height: 75px;
        font-size: 2.2rem;
    }
    &.is-small {
        width: 45px;
        height: 45px;
        font-size: 1.2rem;
        border-radius: 50px;
    }
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.icon.is-large i {
    font-size: 36px;
    vertical-align: text-top;
}
.list.has-text-white {
    $text: white;
    .list-item-title {
        color: $grey-lightest;
    }
    .list-item-description {
        color: $grey-light;
    }
}
strong {
    color: black;
}
.material-symbols-rounded {
    font-variation-settings:
        'FILL' var(--font-variation-fill, 0),
        'wght' var(--font-variation-weight, 400),
        'GRAD' var(--font-variation-grade, 0),
        'opsz' var(--font-variation-optical-size, 48);
}
.is-filled {
    --font-variation-fill: 1;
}
.button:not(.is-floating):not(.is-ghost):not(.is-inverted) .material-symbols-rounded {
    font-size: 1rem;
    vertical-align: sub;
}
.button {
    transition: 0.1s all;
}
.dropdown-item i {
    vertical-align: bottom;
    margin-right: 4px;
}
.menu-list li > a {
    &:not(.is-active) + ul {
        display: none;
    }
    &.is-active {
        @extend .has-background-primary;
    }
    &.field > label {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
}
.control.help-not-persistent:not(:focus-within) + .help {
    visibility: hidden;
}
.card.has-spreaded-content {
    display: flex;
    flex-direction: column;
    .card-footer {
        margin-top: auto;
    }
}
.button.is-credit {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.credits-brandicons {
    filter: invert(100%) sepia(13%) saturate(2258%) hue-rotate(123deg) brightness(116%) contrast(106%); // Icons are turned to white using this filter property.
    width: 1.2rem;
    padding-top: 0.1rem;
}
.button.is-vocabustudy {
    @extend .has-background-primary;
    border-color: transparent;
}
.firebaseui-idp-icon, .nohuechange {
    filter: hue-rotate(calc(var(--hue-rotated, 0) * -1deg)) !important;
}
.has-validated-inputs .input:invalid {
    @extend .is-danger;
}
.has-validated-inputs .field:has(input.input:invalid) + .help {
    color: #f14668;
}
.switch[type="checkbox"].is-thin + label::before {
    top: calc(50% - .25rem);
}