@charset "utf-8";

@use "bulma-modules" as *;
@use "bulma-extensions";
@use "@bulvar/bulma/themes/light";
@use "dark-theme";

// extensions
@import "@creativebulma/bulma-tooltip/src/sass";
@import "bulma-list/sass/bulma-list";
@import "bulma-quickview/src/sass";

// NOTE: Only alterations to bulma components or fixes should go here! Everything else goes in styles.scss
// The only exception (for things like kbd) is for when something depends on a bulma variable;=
.icon.is-large i {
    font-size: 36px;
    vertical-align: text-top;
}
.list.has-text-white {
    $text: white;
    .list-item-title {
        color: $grey-lightest;
    }
    .list-item-description {
        color: $grey-light;
    }
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' var(--font-variation-fill, 0),
        'wght' var(--font-variation-weight, 400),
        'GRAD' var(--font-variation-grade, 0),
        'opsz' var(--font-variation-optical-size, 48);
}
.is-filled {
    --font-variation-fill: 1;
}
:is(.button:not(.is-floating):not(.is-ghost):not(.is-inverted), .tabs) .material-symbols-rounded {
    font-size: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)translateX(-50%);
}
.button {
    transition: 0.1s all;
}
.dropdown-item i {
    vertical-align: bottom;
    margin-right: 4px;
}
.menu-list li > a {
    &:not(.is-active) + ul {
        display: none;
    }
    &.is-active {
        @extend .has-background-primary;
    }
    &.field > label {
        width: 100%;
        display: inline-block;
        margin: 0;
    }
}
.control.help-not-persistent:not(:focus-within) + .help {
    visibility: hidden;
}
.card.has-spreaded-content {
    display: flex;
    flex-direction: column;
    .card-footer {
        margin-top: auto;
    }
}
.button.is-credit {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.credits-brandicons {
    filter: invert(100%) sepia(13%) saturate(2258%) hue-rotate(123deg) brightness(116%) contrast(106%); // Icons are turned to white using this filter property.
    width: 1.2rem;
    padding-top: 0.1rem;
}
.button.is-vocabustudy {
    @extend .has-background-primary;
    border-color: transparent;
    img {
        transform: scale(1.6);
        filter: unset;
    }
}
.has-validated-inputs .input:invalid {
    @extend .is-danger;
}
.has-validated-inputs .field:first-of-type .is-checkradio:invalid {
    @extend .is-danger;
    @extend .has-background-color;
    + label {
        color: var(--danger);
    }
}
fieldset[disabled] .is-checkradio {
    @extend [disabled];
}
.has-validated-inputs .field:has(input.input:invalid) + .help {
    color: var(--danger);
}
.switch[type="checkbox"].is-thin + label::before {
    top: calc(50% - .25rem);
}
.modal > .modal-close {
    transform: translateX(100%);
}
.navbar-divider:has(+ [hidden] + [hidden] + [hidden]) {
    display: none;
}
.tabs-content li {
    display: none;
    list-style: none;
    &.is-active {
        display: block;
    }
}
.quickview {
    max-width: unset;
}
kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    line-height: 1.4;
    font-family: $family-monospace;
    font-size: 10px;
    display: inline-block;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
    background-color: rgb(247, 247, 247);
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
}
a:visited.navbar-item {
    color: var(--navbar-item-color);
}
a:visited.dropdown-item {
    color: var(--dropdown-item-color);
}
.navbar-burger:focus {
    color: revert;
}
.list-item-title {
    color: var(--text-strong);
}
.list.has-hoverable-list-items .list-item:hover {
    background-color: var(--scheme-main-ter);
}

.quickview {
    background-color: var(--background);
}

.quickview-footer {
    background-color: var(--scheme-main-ter);
    border-top: 1px solid var(--light);
}

input[type=text] {
    transition: 0.1s border-color;
}