@import "styles.scss";
.comments-container > .mdc-card {
    max-width: 25%;
    .title.is6 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.field-description {
    word-break: break-word;
}
.field-name {
    max-width: calc(100% - 180px);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}
.guide-item {
    width: 100%;
}
.likes-badge {
    width: 100%;
    color: darkgreen;
    background-color: #90ee90;
    border-radius: 5px;
    padding: .3rem;
    display: inline-block;
    text-align: center;
    margin-top: .3rem;
}
.page img {
    max-width: 25%;
    max-height: 25%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 2px;
}
quiz-question {
    &.correct {
        .input {
            border-color: #48c78e;
        }
        .is-checkradio.option-correct + label::after {
            background-color: #48c78e;
        }
    }
    &.incorrect {
        .input {
            border-color: #f14668;
        }
        .help {
            color: #f14668;
        }
        .is-checkradio:checked + label::after {
            background-color: #f14668;
        }
        .is-checkradio.option-correct + label::before {
            border-color: #48c78e;
        }
    }
}