@import "styles.scss";
.collapsible {
    background-color: #795548;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    outline: #fff;
    font-size: 15px;
    text-size: 5rem;
    &:hover {
        background-color: #bda8a1;
    }
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    &.active {
        display: block;
    }
}
