@import "styles.scss";

#home .field-terms-edit {
    margin-bottom: 2rem;
    .btn-delete {
        color: darkred;
    }
    .editor-term {
        width: 100%;
        @media screen and (max-width: 768px) {
            border-bottom: 1px solid #0004;
        }
    }
    .editor-timeline-piece {
        position: relative;
        > .delete {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
        .mdc-text-field {
            margin-bottom: 1rem;
        }
        p {
            margin: 0;
        }
    }
    .editor-study-piece {
        width: calc(100% - 10px);
        @media (min-width: 500px) {
            width: calc(75% - 10px);
        }
        @media (min-width: 900px) {
            width: calc(50% - 10px);
        }
        .mdc-text-field {
            margin-bottom: 1rem;
            width: 100%;
        }
        p {
            margin-top: 0;
        }
        quiz-question {
            display: block;
            border-bottom: 1px solid #0000009a;
            padding-top: 1rem;
            &:last-of-type {
                border-bottom: none;
            }
            .btn-delete {
                float: right;
                width: 10%;
            }
            > label:first-of-type {
                margin-bottom: 0;
            }
            > div {
                margin-bottom: 1rem;
            }
        }
    }
}

.vocab-words-controls.level.box {
    top: calc(120px + 1rem);
    position: sticky;
    z-index: 1;
    @media screen and (min-width: 500px) {
        display: flex;
        > .level-left, .level-right {
            display: flex;
        }
        > .level-left + .level-right {
            margin-top: 0;
        }
    }
}