@import "styles.scss";
:is(#flashcards, #learn, #test, #match) > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    > div:first-child {
        min-width: 15%;
        @media (max-width: 750px) {
            strong {
                font-size: small;
            }
            > div {
                text-align: center;
                > div {
                    flex-direction: column;
                    label {
                        margin-right: 0;
                        padding-right: 0;
                    }
                }
                --mdc-typography-body2-font-size: 0.6rem;
            }
        }
    }
}

#home .study-modes {
    float: none;
    overflow: hidden;
    > a {
        display: flex;
        margin-bottom: 2rem;
        margin-left: 1rem;
        > .mdc-button__label {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.comments-container > .mdc-card {
    max-width: 25%;
    .mdc-typography--headline6 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#home .field-terms {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    float: left;
    width: 85%;
    &:empty::after {
        content: "Loading set...";
        font-size: larger;
    }
    .timeline-piece {
        width: calc(100% - 10px);
        @media (min-width: 500px) {
            width: calc(50% - 10px);
        }
        @media (min-width: 900px) {
            width: calc(25% - 10px);
        }
        &::before {
            border-bottom: 3px solid #795548;
            width: calc(100% + 20px);
            left: -10px;
            top: 3px;
            position: absolute;
            content: "";
            background-position-x: center;
            background-repeat: no-repeat;
            background-position-y: 11px;
            background-size: 10%;
            padding-top: 10%;
            margin-top: -10%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23795548' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3C/svg%3E");
        }
    }
}

#flashcards {
    img {
        max-width: 25%;
        max-height: 25%;
    }
    > div:nth-child(2) {
        overflow: hidden;
        > div:last-child {
            flex-grow: 1;
            height: 100%;
            cursor: pointer;
            position: relative;
            &.flipped > div > div {
                transform: rotateY(180deg);
            }
            &.switching {
                > div.show {
                    left: -150%;
                    position: absolute;
                    + div {
                        display: block;
                        z-index: 10;
                        position: absolute;
                        left: 0;
                    }
                }
            }
            &.returning {
                > div.show {
                    left: 150%;
                    position: absolute;
                }
                > div:not(.show):has(+ .show) {
                    display: block;
                    z-index: 10;
                    position: absolute;
                    left: 0;
                }
            }
            > div {
                background-color: transparent;
                margin: 5px 20%;
                margin-left: 5%;
                height: 95%;
                perspective: 2000px;
                display: none;
                transition: left 0.4s;
                width: 75%;
                &.show {
                    display: block;
                    position: relative;
                    z-index: 10;
                    left: 0;
                    + div {
                        left: 150%;
                        display: block;
                        position: absolute;
                    }
                }
                &:not(.show):has(+ .show) {
                    left: -150%;
                    display: block;
                    position: absolute;
                }
                > div {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s;
                    transform-style: preserve-3d;
                    background-color: white;
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    > div {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        transform: rotateX(0deg);
                        &:last-child {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
        }
    }
    > div:last-child {
        margin-top: 1.5rem;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-evenly;
        @media (max-width: 700px) {
            .mdc-button__label {
                display: none;
            }
            .mdc-button__icon {
                margin: 0;
            }
        }
    }
}

#learn {
    img {
        max-width: 25%;
        max-height: 25%;
    }
    .mdc-text-field + button {
        width: 9%;
        margin-left: 2%;
    }
    > div {
        > fieldset {
            flex-grow: 1;
        }
        > div:last-child {
            flex-grow: 1;
            margin: 1rem 0 0 2rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            > fieldset {
                margin: 0;
                padding: 0;
                border: 0;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                justify-content: space-evenly;
                --mdc-outlined-button-label-text-size: 1.25rem;
                --mdc-outlined-button-container-height: 56px;
                button {
                    width: 45%;
                    overflow-wrap: anywhere;
                }
            }
            > p {
                text-align: center;
                line-height: unset;
                overflow-wrap: anywhere;
                flex-grow: 1;
                margin: 0px;
                + div {
                    flex-shrink: 1;
                    text-align: center;
                    display: table;
                    padding: 16px;
                }
            }
            > div > p {
                vertical-align: middle;
                display: table-cell;
            }
        }
    }
}

#test {
    --track: transparent;
    --thumb: #6b473c;
    > div {
        position: relative;
        > div {
            > button {
                @media(max-width: 730px) {
                    .mdc-button__label {
                        display: none;
                    }
                    .mdc-button__icon {
                        margin: 0;
                    }
                }
            }
            overflow-y: scroll;
            height: 100%;
            position: absolute;
            width: 16%;
            overflow-x: hidden;
        }
        > fieldset {
            > h2 {
                &::before {
                    content: attr(data-count);
                }
                &[data-count="0"] {
                    display: none;
                }
            }
            > div > label {
                display: block;
                margin-bottom: 1rem;
            }
            margin: 0;
            padding: 0;
            border: 0;
            margin-left: 1rem;
            overflow-y: scroll;
            height: 100%;
            position: absolute;
            left: 16%;
            width: calc(84% - 1rem);
            overflow-x: hidden;
            accent-keyboard {
                display: none;
            }
            .mdc-text-field--focused + accent-keyboard {
                display: block;
                position: absolute;
                margin-top: 2px;
            }
        }
    }
}

#match {
    > div {
        position: relative;
        .btn-refresh:last-of-type {
            display: none;
        }
        .btn-refresh:first-of-type {
            display: block;
        }
        @media(max-width: 830px) {
            .btn-refresh:first-of-type {
                display: none;
            }
            .btn-refresh:last-of-type {
                display: block;
            }
        }
        
        > div:last-child {
            margin-left: 1rem;
            overflow-y: auto;
            height: 100%;
            position: absolute;
            left: 16%;
            width: calc(84% - 1rem);
            display: flex;
            flex-direction: row;
            padding: 1px;
            gap: 2%;
            > div {
                display: flex;
                flex-wrap: wrap;
                gap: 2%;
                align-content: start;
                width: 48%;
                overflow-y: auto;
                .dropzone-card {
                    background-color: lighten($theme-color, 50%);
                    max-width: 48%;
                    overflow-wrap: break-word;
                    justify-content: space-between;
                    > div {
                        pointer-events: none;
                    }
                    > div:last-child {
                        border: 1px dashed gray;
                        margin: 4px;
                        text-align: center;
                        border-radius: 4px;
                        padding: 4px;
                        &.over {
                            border-style: dotted;
                            background-color: lighten($theme-color, 30%);
                            &:not(:empty) > div {
                                opacity: 0.4;
                            }
                        }
                        &:empty:after {
                            content: "Drop here";
                        }
                    }
                    .draggable-card {
                        max-width: unset;
                        .mdc-card-wrapper__text-section {
                            padding: 8px;
                        }
                    }
                }
                .draggable-card {
                    max-width: 48%;
                    cursor: grab;
                    pointer-events: all;
                    background-color: $theme-color;
                    color: white;
                    line-height: unset;
                    overflow-wrap: break-word;
                    &.selected {
                        background-color: darken($theme-color, 10%);
                    }
                }
            }
        }
    }
}

.mdc-circular-progress::after {
    content: attr(data-progress);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
}
.answer-correct {
    color: white;
    background-color: #4CAF50;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 16px;
}

.answer-incorrect {
    color: white;
    background-color: #F44336;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    .mdc-button {
        position: absolute;
        bottom: 8px;
        right: 8px;
        --mdc-text-button-label-text-color: currentColor;
    }
}

.test-matching-box {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    opacity: 0.8;
}

:is(fieldset:not(:disabled) .test-matching-box):hover, .test-matching-box.selected {
    opacity: 1;
    text-shadow: 0px 0px 1px black;
    cursor: pointer;
}
.test-matching-box.chosen {
    opacity: 0.5;
}

.matches-container>div {
    position: absolute;
    background-color: black;
    height: 4px;
    margin: 0;
    padding: 0;
    line-height: 1px;
    left: var(--left);
    top: var(--top);
    width: var(--length);
    transform: rotate(var(--angle));
    &.correct {
        background-color: green !important;
    }
    &.incorrect {
        background-color: red !important;
    }
}

.mdc-text-field.correct :is(.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing) {
    border-color: currentColor !important;
    color: green !important;
}

.mdc-text-field.incorrect :is(.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing) {
    border-color: currentColor !important;
    color: red !important;
}

.mdc-radio.correct+label {
    color: green !important;
}

.mdc-radio.correct :is(.mdc-radio__outer-circle, .mdc-radio__inner-circle) {
    border-color: green !important;
}

.mdc-radio.incorrect+label {
    color: red !important;
}

.mdc-radio.incorrect :is(.mdc-radio__outer-circle, .mdc-radio__inner-circle) {
    border-color: red !important;
}

.mdc-text-field:is(.correct, .incorrect) .mdc-floating-label {
    color: inherit;
}

.likes-badge {
    width: 100%;
    color: darkgreen;
    background-color: #90ee90;
    border-radius: 5px;
    padding: .3rem;
    display: inline-block;
    text-align: center;
    margin-top: .3rem;
}

accent-keyboard > fieldset {
    margin: 0;
    margin-bottom: 8px;
    --mdc-typography-button-text-transform: none;
    padding: 0;
    border: 0;
    > button.mdc-button {
        margin-right: 8px;
        min-width: auto;
    }
}
img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 2px;
}