$theme-color: #795548;

.custom-scrollbar {
    scrollbar-color: var(--thumb, #331011) var(--track, #6b473c);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--track, #6b473c);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--thumb, #331011);
        border-radius: 2px;
        border: transparent;
    }
    &.is-thumb-only {
        --track: transparent;
        --thumb: #6b473c;
    }
}

textarea {
    @extend .custom-scrollbar;
    @extend .is-thumb-only;
}


html,
body {
    height: 100%;
}

body,
main,
:is(#flashcards, #learn, #test, #match):target {
    display: flex;
    flex-direction: column;
}

main,
main>div,
:is(#flashcards, #learn, #test, #match) > div:nth-child(2) {
    flex-grow: 1;
}

.set-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-wrap: break-word;
    > .card {
        max-width: 100%;
    }
    &:empty::after {
        content: attr(data-empty);
        font-style: italic;
    }
}

.card-content {
    padding-left: 16px;
    padding-right: 16px;
    &:first-child {
        padding-top: 16px;
    }
    &:nth-last-child(2),
    &:last-child {
        padding-bottom: 16px;
    }
}

[hidden] {
    display: none !important;
}


main {
    margin-left: 1rem;
    margin-right: 1rem;
}

.page {
    display: none;
    &:target ~ #home {
        display: none;
    }
    > h1:first-child {
        font-size: 2.125rem;
        line-height: 2.5rem;
        font-weight: 400;
        letter-spacing: .00735294em;
        padding-bottom: 1rem;
        position: sticky;
        color: white;
        top: 64px;
        margin-top: 0;
        z-index: 5;
        margin-bottom: 2rem;
        &::after {
            content: "";
            background: url("../images/hero-background.svg") no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            width: calc(100% + 2rem);
            height: calc(100% + 1rem);
            top: -1rem;
            left: -1rem;
            z-index: -1;
        }
    }
}
#home, .page:target {
    display: var(--page-display, block);
}

body > footer {
    font-size: smaller;
    margin-top: 1rem;
    margin-bottom: 0 !important;
    height: 43px;
}

.fw-bold {
    font-weight: bold !important;
}

.supporting-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    opacity: 0.6;
}

.fab-theme-container {
    bottom: 10px;
    right: 10px;
    width: fit-content;
    z-index: 21;
    position: fixed;
    @media (max-width: 1023px) {
        > button.is-floating, > &.show div button.is-floating {
            width: 45px;
            height: 45px;
            border-radius: 50px;
            i {
                font-size: 1.2rem !important;
            }
        }
    }
    > button span {
        transition: transform 0.3s linear;
    }
    > div {
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        button {
            transform: scale(0);
            display: none;
        }
    }
    &.show {
        > div {
            display: flex;
            flex-direction: column-reverse;
            button {
                display: block;
                animation-name: enter;
                animation-fill-mode: forwards;
                animation-duration: 0.1s;
                transform-origin: bottom center;
                &:nth-of-type(1) {animation-delay: 0.1s;}
                &:nth-of-type(2) {animation-delay: 0.2s;}
                &:nth-of-type(3) {animation-delay: 0.3s;}
                &:nth-of-type(4) {animation-delay: 0.4s;}
            }
        }
        > button span {
            transform: rotate(180deg);
        }
    }
}
@keyframes enter {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(0.8);
    }
}

:is(#flashcards, #learn, #test, #match) > h1 > span, .field-user-name, .field-collection-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    max-width: calc(100% - var(--studymode-header-width));
    vertical-align: bottom;
}

.fit {
    display: inline-block;
    white-space: pre-line !important;
    overflow-wrap: break-word;
    line-height: normal;
    max-width: 100%;
}
.nohuechange {
    filter: hue-rotate(calc(var(--hue-rotated, 0) * -1deg)) !important; // TODO after bulma rename to ignore-user-hue
}
.page-loader {
    background-color: var(--body-background-color);
    position: absolute;
    top: 80px; // right below the styled header
    width: 100%;
    height: calc(100% - 80px);
    z-index: 2;
    .loader-container {
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media screen and (display-mode: standalone) {
    @supports (-webkit-touch-callout: none) {
        body > footer.footer {
            padding-bottom: 4px;
        }
    }
}