$theme-color: #795548;

@mixin theme-dark {
    background-color: #131313;
    --mdc-theme-surface: #131313;
    color: white;
    --mdc-text-button-label-text-color: #bda8a1;
    --mdc-outlined-button-label-text-color: var(--mdc-text-button-label-text-color);
    --mdc-outlined-button-outline-color: #ffffff1f;
    --mdc-theme-on-surface: white;
    --mdc-theme-text-primary-on-background: white;
    --mdc-theme-text-secondary-on-background: white;
    --mdc-switch-selected-track-color: #e8beac;
    --mdc-checkbox-unchecked-color: #ffffff8a;
    --mdc-theme-text-icon-on-background: #ffffff61;
    --mdc-outlined-button-disabled-outline-color: #ffffff1f;
    --mdc-outlined-button-disabled-label-text-color: #ffffff1f;
    --mdc-protected-button-disabled-label-text-color: #ffffff61;
    --mdc-protected-button-disabled-container-color: #ffffff1f;
    .mdc-card__action--icon {
        color: var(--mdc-theme-text-icon-on-background);
    }
    .mdc-card:not(.mdc-card--outlined) {
        box-shadow: 0 2px 1px -1px #5e5e5ecc, 0 1px 1px #5e5e5edb, 0 1px 3px #5e5e5ee0;
    }
    .mdc-card--outlined {
        border-color: #575757;
    }
    .mdc-list-divider {
        background-color: #ffffffe0;
    }
    .mdc-dialog .mdc-dialog__content, .mdc-dialog .mdc-dialog__title {
        color: #ffffffad;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: #fffa;
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
        border-color: #fffa;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: #fff9;
    }
    .mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
        border-color: #ffffff8a
    }
    .answer-correct {
        background-color: #002902;
    }
    .answer-incorrect {
        background-color: #8c0f025e;
    }
    .mdc-text-field--disabled .mdc-text-field__input, .mdc-text-field--disabled .mdc-floating-label, .mdc-text-field--disabled + .mdc-text-field-helper-line .mdc-text-field-helper-text, .mdc-text-field--disabled .mdc-text-field-character-counter, .mdc-text-field--disabled + .mdc-text-field-helper-line .mdc-text-field-character-counter {
        color: #ffffff61;
    }
    .mdc-text-field--disabled .mdc-notched-outline__leading, .mdc-text-field--disabled .mdc-notched-outline__notch, .mdc-text-field--disabled .mdc-notched-outline__trailing {
        border-color: #ffffff0f;
    }
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        &:not(.nested) {
            background-color: #262626;
        }
        &.nested {
            background-color: #3c3c3c;
        }
        &.active {
            display: block;
        }
    }
    .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing, .mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
        border-color: #b00020;
    }
    .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--invalid + .mdc-text-field-helper-line .mdc-text-field-helper-text--validation-msg {
        color: #b00020;
    }
    .mdc-radio [aria-disabled="true"] .mdc-radio__native-control:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle, .mdc-radio .mdc-radio__native-control:disabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle, .mdc-radio [aria-disabled="true"] .mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle, .mdc-radio .mdc-radio__native-control:disabled:checked + .mdc-radio__background .mdc-radio__outer-circle, .mdc-radio [aria-disabled="true"] .mdc-radio__native-control + .mdc-radio__background .mdc-radio__inner-circle, .mdc-radio .mdc-radio__native-control:disabled + .mdc-radio__background .mdc-radio__inner-circle {
        border-color: #ffffff61;
    }
    #flashcards > div:nth-child(2) > div:last-child > div > div {
        background-color: var(--mdc-theme-surface);
        box-shadow: 0 0 4px #ffffff80;
    }
    .matches-container > div {
        opacity: 0.8;
        background-color: white;
    }
    #match > div > div:last-child .dropzone-card {
        background-color: darken($theme-color, 20%);
    }
    .mdc-text-field:not(.mdc-text-field--disabled) + .mdc-text-field-helper-line .mdc-text-field-helper-text, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field-character-counter, .mdc-text-field:not(.mdc-text-field--disabled) + .mdc-text-field-helper-line .mdc-text-field-character-counter {
        color: #fff9;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background: #0a0a0a;
    }
    a:not([class]) {
        color: lighten($theme-color, 30%);
        &:visited {
            color: lighten($theme-color, 10%);
        }
    }
    footer, header, .realhome {
        &::after {
            backdrop-filter: brightness(65%) saturate(110%);
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        > div, > p {
            z-index: 1;
        }
    }
    .page > h1:first-child::after {
        filter: brightness(65%) saturate(110%);
    }
    #home .field-terms-edit .btn-delete {
        color: #b00020;
    }
}
.custom-scrollbar {
    scrollbar-color: var(--thumb, #331011) var(--track, #6b473c);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--track, #6b473c);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--thumb, #331011);
        border-radius: 20px;
        border: transparent;
    }
}

body {
    margin: 0;
    --mdc-typography-button-font-weight: 400;
    --mdc-typography-font-family: Raleway;
    &.theme-dark {
        @include theme-dark;
    }
    &.theme-system {
        @media (prefers-color-scheme: dark) {
            @include theme-dark;
        }
    } 
}


html,
body {
    height: 100%;
}

body,
main,
:is(#flashcards, #learn, #test, #match):target {
    display: flex;
    flex-direction: column;
}

main,
main>div,
:is(#flashcards, #learn, #test, #match) > div:nth-child(2) {
    flex-grow: 1;
}

.set-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-wrap: break-word;
    > .mdc-card {
        max-width: 100%;
    }
    &:empty::after {
        content: attr(data-empty);
        font-style: italic;
    }
}

.mdc-card-wrapper__text-section {
    padding-left: 16px;
    padding-right: 16px;
    &:first-child {
        padding-top: 16px;
    }
    &:nth-last-child(2),
    &:last-child {
        padding-bottom: 16px;
    }
}

a.mdc-list-item__text {
    color: inherit;
    text-decoration: none;
}

#account-menu {
    --mdc-menu-min-width: max-content;
}

[hidden] {
    display: none !important;
}

a:not([class]) {
    color: $theme-color;
    &:visited {
        color: darken($theme-color, 20%);
    }
}

.mdc-top-app-bar--fixed-adjust {
    margin-left: 1rem;
    margin-right: 1rem;
}

.page {
    display: none;
    &:target ~ #home {
        display: none;
    }
    > h1:first-child {
        font-family: var(--mdc-typography-font-family);
        font-size: 2.125rem;
        line-height: 2.5rem;
        font-weight: 400;
        letter-spacing: .00735294em;
        padding-bottom: 1rem;
        position: sticky;
        color: white;
        top: 64px;
        margin-top: 0;
        z-index: 3;
        margin-bottom: 16px;
        &::after {
            content: "";
            background: url("../hero-background.svg") no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            width: calc(100% + 2rem);
            height: calc(100% + 1rem);
            top: -1rem;
            left: -1rem;
            z-index: -1;
        }
    }
}
#home, .page:target {
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: smaller;
    background-color: $theme-color;
    color: white;
    margin-top: 1rem;
    height: 43px;
    a {
        color: white;
    }
    > div, > p {
        max-width: 50%;
        > :last-child {display: none;}
        @media(max-width: 650px) {
            > :first-child {display: none;}
            > :last-child {display: block;}
        }
        .mdc-icon-button {
            height: 32px;
            vertical-align: super;
        }
    }
}

.mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
    color: var(--mdc-theme-primary)
}

.fw-bold {
    font-weight: bold !important;
}

.supporting-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    opacity: 0.6;
}
.mdc-dialog {
    z-index: 1000;
}
.list-parent-item .mdc-checkbox {
    display: none;
}
.collection-label {
    border-radius: 5px;
    margin-right: .5rem;
    padding: 4px 8px;
    background: $theme-color;
    color: white;
    margin-top: .5rem;
    display: inline-block;
}
.fab-theme-container {
    bottom: 10px;
    left: calc(100% - 78px);
    width: fit-content;
    z-index: 2;
    position: fixed;
    > button span {
        transition: transform 0.3s linear;
    }
    > div {
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
        button {
            transform: scale(0);
            display: none;
        }
    }
    &.show {
        > div {
            display: flex;
            flex-direction: column-reverse;
            button {
                display: block;
                animation-name: enter;
                animation-fill-mode: forwards;
                animation-duration: 0.1s;
                transform-origin: bottom center;
                &:nth-of-type(1) {animation-delay: 0.1s;}
                &:nth-of-type(2) {animation-delay: 0.2s;}
                &:nth-of-type(3) {animation-delay: 0.3s;}
            }
        }
        > button span {
            transform: rotate(180deg);
        }
    }
}
@keyframes enter {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(0.8);
    }
}
.width-only {
    visibility: hidden;
    height: 0;
}
.bg-green {
    background-color: #4CAF50;
    padding: 3px;
    border-radius: 3px; 
    margin-top: 3px;
    color: white;
}
.bg-yellow {
    background-color: #FFC107;
    padding: 3px;
    border-radius: 3px; 
    color: black;
    margin-top: 3px;
}
:is(#flashcards, #learn, #test, #match) > h1 > span, .field-user-name, .field-collection-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    max-width: calc(100% - var(--studymode-header-width));
    vertical-align: middle;
}
.fit {
    display: inline-block;
    white-space: normal !important;
    max-width: 100%;
}
.firebaseui-idp-icon, .nohuechange {
    filter: hue-rotate(calc(var(--hue-rotated, 0) * -1deg)); // TODO after bulma rename to ignore-user-hue
}