@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* RGB - see https://tailwindcss.com/docs/customizing-colors#using-css-variables */
        --color-primary: 121 85 72;
        --color-secondary: 79 43 38;
        --color-primary-alt: 138 96 81;
        --color-secondary-alt: 166 115 96;
    }
}

@layer components {
    /* Thank you the author of this answerer for the code: https://stackoverflow.com/a/54702294 (Austen Holland) */
    .rainbow-text-animated {
        background: linear-gradient(to right, #6c6cb7, #6ba2c4);
        background-clip: text;
        color: transparent;
        animation: rainbow-animation 1s ease-in-out infinite;
        background-size: 400% 100%;
        font-size: 4rem;
    }
    @keyframes rainbow-animation {
        0%,
        100% {
            background-position: 0 0;
        }
        50% {
            background-position: 100% 0;
        }
    }
}

@layer utilities {
    .hidden-mobile {
        @apply hidden;
        @media screen(md) {
            display: revert;
        }
    }
    .perspective {
        perspective: 1000px;
    }
    .preserve-3d {
        transform-style: preserve-3d;
    }
    .rotate-y-180 {
        transform: rotateY(180deg);
    }
    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .min-h-0 {
        min-height: 0;
    }
}

html, body, #app {
    height: 100%;
}

#app {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.custom-scrollbar, #app {
    --default-thumb: #331011;
    --default-track: #6b473c;
    scrollbar-color: var(--thumb, var(--default-thumb)) var(--track, var(--default-track));
    scrollbar-width: thin;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--track, var(--default-track));
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--thumb, var(--default-thumb));
        border-radius: 2px;
        border: transparent;
    }
    &.is-thumb-only {
        --track: transparent;
        --thumb: var(--default-track);
    }
}

.sr-only:not(input) {
    position: relative;
    display: block;
}

@media (prefers-color-scheme: dark) {
    input[type="time"], input[type="date"] {
        color-scheme: dark;
    }
}

.striped-background {
    background-image: url("../assets/images/striped-background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dark [type="checkbox"]:checked, .dark [type="radio"]:checked {
    background-color: currentColor;
    border-color: transparent;
}