extends includes/layout.pug
block variables
    - var title = "404 Not Found";
    - var description = "The page you were looking for could not be found.";
block main-stylesheet
    link(rel="stylesheet" href="css/404.scss")
block extrahead
    meta(name="robots" content="noindex")
block content
    .page#home
        sECtion.hero.is-primary.is-medium.is-bold.is-fullheight(style="width: 100%; top: 0; left: 0; position: absolute; z-index: 100;")
            .hero-body
                .container.has-text-centered
                     h1.title.ignore-user-hue Oops! That page is #[span.rainbow-text-animated.ignore-user-hue imaginary.]
                    h2.subtitle
                        a.is-underlined(href="https://vocabustudy.org/set/0jYMZFlYRWZER2eIzYeY/view/") But... this is real.
            p(style="margin-bottom: 5px; text-align: center; color: grey; z-index: 1000;") (Error: 404) - #[a(href="/#" style="text-decoration: underline;") Return to Vocabustudy]
