extends includes/layout.pug
block variables
    - var title = "Reset Password";
    - var description = "This page should not show up in search results";
block main-stylesheet
    link(rel="stylesheet" href="css/auth-action.scss")
block extrahead
    meta(name="robots" content="noindex")
block content
    #home.page.has-background-primary
        .container.has-background-white.has-text-centered.p-6
            h1.title.is-3.has-text-primary #[span.field-mode]
            p.mb-3 #[span.field-mode ...] #[strong.field-email ...]
            span.loader.is-size-1.mx-auto.mt-3
            .notification.is-danger.is-light(hidden)
            .notification.is-success.is-light(hidden)
            form(novalidate hidden)
                .field
                    .control
                        input#reset-new-password.input.is-medium(type="password" placeholder="New Password" required)
                .field
                    .control
                        input#reset-confirm-password.input.is-medium(type="password" placeholder="Confirm Password" required)
                button.button.is-primary.is-medium.is-fullwidth(type="submit") Change Password
append scripts-footer
    script(src="js/auth-action.ts" type="module")
