extends includes/layout.pug
block variables
    - var title = "Study Guide";
    - var description = "Learn more about this topic with a study guide";
block main-stylesheet
    link(rel="stylesheet" href="css/guide-detail.scss")
block content
    #home.page.is-relative
        h1
            span.field-name
            button.button.btn-like.ml-4.has-text-white.is-pulled-right.is-ghost(type="button" style="text-decoration: none;")
                +material-symbol("favorite", false, true)
                span.ml-1 Like
            p.subtitle.is-6.is-pulled-right.has-text-white(style="margin-top: 10px;")
                span.field-num-terms
                |  items
        p.field-description(style="flex: 1;min-height: 0;overflow-y: auto;")
        .page-loader
            .loader-container
                span.loader.is-size-1
        .tabs-wrapper
            .tabs.is-boxed.custom-scrollbar.is-thumb-only
                ul
            .tabs-content
                ul
        include includes/comment-quickview
append scripts-footer
    script.
        window.bulmaOptions = {autoParseDocument: false}
    script(src="js/guide-detail.ts" type="module")
