extends includes/layout.pug
block variables
    - var title = "Study Guide";
    - var description = "Learn more about this topic with a study guide";
block main-stylesheet
    link(rel="stylesheet" href="css/guide-detail.scss")
block content
    .page.is-relative#home
        h1
            span.field-name
            button.button.btn-like.ml-4.has-text-white.is-pulled-right.is-ghost(type="button" style="text-decoration: none;")
                span.icon
                    i.material-symbols-rounded(aria-hidden="true") thumb_up
                span.ml-1 Like
            p.subtitle.is-6.is-pulled-right.has-text-white(style="margin-top: 10px;")
                span.field-num-terms
                |  items
        p.field-description
        .page-loader
            .loader-container
                span.loader.is-size-1
        .tabs-wrapper
            .tabs.is-boxed
                ul
            .tabs-content
                ul
        button.button.is-info.is-outlined.btn-show-comments(style="position: absolute; right: 1rem; bottom: 0;")
            span.icon
                i.material-symbols-rounded.is-filled forum
            span Comments
        .quickview(style="transition-duration: 0.1s;")
            header.quickview-header
                p.title 
                    span.icon.mr-2.has-text-primary
                        i.material-symbols-rounded.is-filled(style="font-size: 1rem; vertical-align: middle;") forum
                    | Comments
                span.delete
            .quickview-body
                .list.has-hoverable-list-items
            footer.quickview-footer.py-3
                .is-flex-grow-1.loggedin(hidden)
                    label.label(for="input-user-comment") Your Comment
                    .field.has-addons
                        p.control.is-expanded
                            input.input(type="text" required maxlength="500" id="input-user-comment")
                        p.control
                            button.button.is-success.is-outlined(type="button" disabled) Save
                p.loggedout(hidden) Log in to comment on this set!
append scripts-footer
    script.
        window.bulmaOptions = {autoParseDocument: false}
    script(src="js/guide-detail.js" type="module")