- var showBack = true;
- var styleFile = "help-center.scss"; 
- var showBack = true;
doctype html
html(lang="en")
    include includes/head
    body.mdc-typography.theme-system
        include includes/navbar
        main.mdc-top-app-bar--fixed-adjust
            .page#home
                h1 Vocabustudy Help Center
                    p.mdc-typography--headline5 How-tos and overall helpful tips and instructions!
                button.collapsible How to create an account:
                .content
                    h2 If you create an account, you can do many things, such as:
                    ul
                        li Create sets
                        li Save sets
                        li Comment on sets
                        li Like sets
                        li More!
                    h2 How to create an account:
                    p 1. Click the account icon at the top right of the header or go to https://vocabustudy.org/#login .
                    p 2. Click "log in" in the menu that appears.
                    p 3. You will have a choice to choose between either creating your account by sigining in with Google or with email.
                        | We recommend signing in with Google, because it is much easier to create your account and login to it.
                        | However, if you want to create your account with email, here are the steps:
                    ol
                        li Press the button that says "Sign in with email".
                        li Enter your email in the menu that appears.
                        li Enter your name and the password that you want to use for your new account.
                        li It will bring up information about email verification. Press "Send Verification Email" when you are ready.
                        li You will get a message at the bottom of the screen when the email has been sent.
                        li Open your email.
                        li Look for an email from noreply@vocabustudy.org (such a cool, professional email, I know!!!!) titled "Verify your email for Vocabustudy".
                        li Open it and click the link.
                        li It will tell you when your email is verified.
                        li Close the tab with the email verification link.
                        li Reload the My Account page on Vocabustudy. 
                        li Your Account has been verified!
                        li You can now use your account when you use Vocabustudy.
                    //h1 How to make a set       changes by Nikhil
                        ol
                            li Open vocabustudy and make sure you are logged in.
                            li Then, go to "my sets" or "https://vocabustudy.org/#mysets".
                            li You will see buttons that will allow you to create sets, study guides, and timelines. For the purpose of this tutorial, we will just create a set.
                            li Click on "Add/+ set".
                            li Add a title. You can also add an optional description, if you like.
                            li Make the set either public or private.
                            li Add terms using the "add" button.
                            li You can also import terms from Quizlet or Blooket. You can also just copy and paste terms from a vocabulary list, Kahoot, etc.
                            li Add relevant tags so people can find your set when looking up things related to a certain topic.
                            li Make sure that you have at least four terms in your set and a title.
                            li Click "save set".
                            li Congratulations, you have completed your first set!
                        ol There are some guidelines for sets:
                            li Your sets cannot have offensive, harmful, or explict content. If we find your content to match one of these descriptions, your set will at the very least be privated or deleted, and in a worst case scenario, your account will be restricted.
                            li Try to keep sets relevant. If you wish to make a joke set, say that it is a joke in the description.
                            li Vocabustudy Admins have the right to view your private sets, as well as make edits (or even delete) to your existing sets.
                        p Have fun making useful sets!

        include includes/footer
        script(src="js/help-center.js" type="module")