extends includes/layout.pug
block variables
    - var title = "Home";
block main-stylesheet
    link(rel="stylesheet" href="css/home.scss")
block extrahead
    link(rel="preload" href="./images/hero-background.svg" as="image")
    unless process.env.NODE_ENV === "development"
        script(src="https://accounts.google.com/gsi/client" async defer)
block content
    #mysets.page(data-nosnippet)
        h1 My Sets:
            .dropdown.is-pulled-right
                .dropdown-trigger
                    button.button.btn-create.is-secondary-light(aria-haspopup="true" aria-controls="dropdown-menu")
                        +material-symbol("add_circle", false, true, 20)
                        span Create
                        +material-symbol("arrow_drop_down", false, true, 20).is-small
                .dropdown-menu.menu-create(role="menu")
                    .dropdown-content
                        a.dropdown-item(href="/set/new/edit/")
                            span.icon-text
                                +material-symbol("add_circle", false, true, 20)
                                span Set
                        a.dropdown-item(href="/set/new-timeline/edit/")
                            span.icon-text
                                +material-symbol("add_circle", false, true, 20)
                                span Timeline
                        a.dropdown-item(href="/set/new-guide/edit/")
                            span.icon-text
                                +material-symbol("add_circle", false, true, 20)
                                span Guide
        .set-container(data-empty="You don't have any sets. Create one!")
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
        .box.level.mt-3
            .level-left
                .level-item
                    h2.title.is-5 My Custom Collections:
            .level-right
                .level-item
                    button.button.is-primary.is-outlined.btn-create-collection
                        +material-symbol("add_circle", false, true, 20)
                        span Create Custom Collection
        .collection-container.set-container(data-empty="You don't have any custom collections. Create one!")
    #saved-sets.page(data-nosnippet)
        h1 Saved Sets
        h2 Liked Sets:
        .liked-container.set-container(data-empty="No Sets")
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
    #search.page(data-nosnippet)
        h1 Browse Sets:
        details.box.block.mt-5
            summary
                h2.title.is-size-4(style="display: inline;") Featured Sets
            .set-container.mt-4(style="cursor: auto;" data-empty="No featured sets") Loading featured sets...
        h2.title.is-size-4.mb-0 Search:
        .field-search-container.box.p-3
            .level.mb-2
                .level-left.is-flex-grow-1
                    .level-item(style="width: calc(100% - 1rem);")
                        input.input.field-search(placeholder="Search" type="text" autocomplete="off")
                .level-right
                    .level-item.buttons
                        button.button.is-outlined.is-info.btn-collections-menu(type="button")
                            +material-symbol("filter_list", false, true, 20)
                            span Collections
                        button.button.is-outlined.is-danger.btn-clear-filters(type="button")
                            +material-symbol("filter_list_off", false, true, 20)
                            span Clear
                        button.button.is-primary.btn-search-go(type="button")
                            +material-symbol("search", false, true, 20)
                            span Search
            p.m-1 Maximum 10 Words/Collections:
                span.ml-1.is-inline-block.field-search-collections-list(style="vertical-align: bottom;")
        .set-container.mt-4(data-empty="No Sets Matched Your Search. Did you spell each word correctly?") Try searching for something like '50 States' or try a featured set above.
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
    #credits.page(data-nosnippet)
        h1 Credits - Vocabustudy
        div(style="text-align: center;")
            p.title.is-size-5 Vocabustudy is part of a group of applications called the #[a(href="https://github.com/For-0") For Zero Applications].
            p.title.is-size-6 For Zero is a project to create helpful, student-conscious applications that are completely free and transform student life. Thank you for being on our journey!
            .py-4.box
                button.button.is-primary.is-credit #[p.has-text-white.subtitle.is-5 Siddhant Kameswar]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Siddhant Kameswar
                            .tags.is-inline-block #[span.tag.is-primary.is-light.ignore-user-hue Creator] #[span.tag.is-link.is-light.ignore-user-hue For Zero Co-Founder] #[span.tag.is-danger.is-light.ignore-user-hue Lead Developer] #[span.tag.is-success.is-light.ignore-user-hue Design]
                            br
                            p For Zero Applications is headed by #[strong Siddhant Kameswar], who is the creator of Vocabustudy. The amount of work and contribution given by Siddhant outstrips all other contributors.
                            .buttons.mt-3.is-inline-block
                                a.button.is-small.is-github.ignore-user-hue(href="https://github.com/grimsteel") #[img.credits-brandicons(src="icons/brands/github.svg" alt="GitHub")]
                                a.button.is-small.is-vocabustudy.ignore-user-hue(href="/user/AZ1AbMqRkoWavZsVg3Gi6DbnF7x2/") #[img.credits-brandicons(alt="Vocabustudy" src="icons/brands/vocabustudy-transparent-brownV.svg")]
                button.button.is-primary.is-credit #[p.has-text-white.subtitle.is-5 Ruhan Gupta]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Ruhan Gupta
                            .tags.is-inline-block #[span.tag.is-link.is-light.ignore-user-hue For Zero Co-Founder] #[span.tag.is-danger.is-light.ignore-user-hue Developer] #[span.tag.is-success.is-light.ignore-user-hue Design] #[span.tag.is-info.is-light.ignore-user-hue Lead Marketer (Public Relations)]
                            br
                            p #[strong Ruhan Gupta] (not Nikhil's brother) helped #[strong co-found] For Zero and has contributed to some of the #[strong visual design] of the applications, like Vocabustudy. Like the other contributors, he has #[strong helped with functionality, testing, and bug fixes], created the #[strong For Zero and Vocabustudy logo], and helped improve the design of the #[strong Vocabustudy Discord Server]. He manages with the For Zero's organization operations and interaction with the outside world.
                            .buttons.mt-3.is-inline-block
                                a.button.is-small.is-github.ignore-user-hue(href="https://github.com/IMGROOT2") #[img.credits-brandicons(src="icons/brands/github.svg" alt="GitHub")]
                                a.button.is-small.is-discord.ignore-user-hue(href="https://discordapp.com/users/698961308506390568") #[img.credits-brandicons(src="icons/brands/discord.svg" alt="Discord")]
                                a.button.is-small.is-vocabustudy.ignore-user-hue(href="/user/nWasbt2yvXewc8AhGSqwmfT4gVu2/") #[img.credits-brandicons(src="icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy")]
                button.button.is-primary.is-credit #[p.has-text-white.subtitle.is-5 Omkar Patil]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Omkar Patil
                            .tags.is-inline-block #[span.tag.is-info.is-light.ignore-user-hue Marketer] #[span.tag.is-warning.is-light.ignore-user-hue Tester] #[span.tag.is-danger.is-light.ignore-user-hue Developer]
                            br
                            p #[strong Omkar Patil] has been with Siddhant since the beginning. Throughout the development of Vocabustudy, he has #[strong helped with testing, bug fixes, and new features] and has #[strong requested features] to make Vocabustudy better. He also #[strong helped set up the Discord server]. Above all, he and Nikhil have #[strong shared Vocabustudy with the world], and has helped grow it along the way.
                            .buttons.mt-3.is-inline-block
                                a.button.is-small.is-github.ignore-user-hue(href="https://github.com/PrakmO") #[img.credits-brandicons(src="icons/brands/github.svg" alt="GitHub")]
                                a.button.is-small.is-vocabustudy.ignore-user-hue(href="/user/mnDmw8WhAGSup4W2kH0EsRCgb072/") #[img.credits-brandicons(src="icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy")]
                button.button.is-primary.is-credit #[p.has-text-white.subtitle.is-5 Nikhil Gupta]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Nikhil Gupta
                            .tags.is-inline-block #[span.tag.is-info.is-light.ignore-user-hue Marketer] #[span.tag.is-danger.is-light.ignore-user-hue Developer]
                            br
                            p #[strong Nikhil Gupta] ("not" Ruhan's brother) has also been with Siddhant since the beginning. Throughout the development of Vocabustudy, he has #[strong requested features] to make Vocabustudy better. He #[strong created the Discord server], #[strong invited people], and #[moderates it]. He and Omkar have #[strong shared Vocabustudy with the world], which has helped grow it along the way.
                            .buttons.mt-3.is-inline-block
                                a.button.is-small.is-github.ignore-user-hue(href="https://github.com/Nikhilatvocabustudy") #[img.credits-brandicons(src="icons/brands/github.svg" alt="GitHub")]
                                a.button.is-small.is-discord.ignore-user-hue(href="https://discordapp.com/users/999731275667619971") #[img.credits-brandicons(src="icons/brands/discord.svg" alt="Discord")]
                                a.button.is-small.is-vocabustudy.ignore-user-hue(href="/user/indXd3yqrqVZw07LCWHnTm69ZAg1/") #[img.credits-brandicons(src="icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy")]
                button.button.is-primary.is-credit #[p.has-text-white.subtitle.is-5 Michael Zhao]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Michael Zhao
                            .tags.is-inline-block #[span.tag.is-warning.is-light.ignore-user-hue Tester]
                            br
                            p #[strong Michael Zhao], once told about Vocabustudy, started stress testing it. The amount of bugs he found and helped fix cannot be counted.* He has helped countless times with making Vocabustudy more responsive and easier to use on smaller screens.
                            p(style="margin-top: 2rem; font-size: 8px;") *Maybe they can be??????????
            br
            p.title.is-size-5 Vocabustudy was built with the following:
            br
            .py-4.box.has-text-centered(style="height: auto;")
                .tile.is-ancestor.is-5
                    .tile.is-vertical.is-parent
                        .tile.is-child
                            button.button.has-background-white.is-static.has-text-black(style="font-size: 4rem; border-radius: 6px; height: 100px; border-color: white;") Raleway Font
                        .tile.is-child
                            img.my-auto.has-background-white.ignore-user-hue(src="images/made-with-bulma.png?as=webp&height=100" style="border-radius: 6px; height: 100px;")
                    .tile.is-parent
                        .tile.is-child
                            img.ignore-user-hue(src="images/built-with-firebase.svg" style="height: 220px")
            ul(style="margin-bottom: 2rem; margin-top: 1rem;")
                li Thank you to everybody who reports bugs. Your reports help us make Vocabustudy better.
                li Thank you to all moderators and helpers on the Vocabustudy Discord Server.
    #support-us.page(data-nosnippet)
        h1 Support Us
        p.title.is-size-3 Your donations help!
        p Vocabustudy is a free website, but donations do serve a purpose. #[span(style="font-weight: 600") Your ability to donate won't affect how you are treated on the site.]
        p Donating helps us with paying the $12 domain and working towards improving infrastructure.
        p.subtitle.is-size-5 How can you help out?
        .tabs-wrapper
            .tabs.is-large.is-toggle.is-primary
                ul
                    li.is-active
                        a Support us for free!
                    li
                        a Electronic Donation
                    li
                        a Physical Donation
            .tabs-content
                ul
                    li.is-active
                        p.title.is-size-3 Support us #[span(style="font-weight: 600") for free!]
                        p Can't donate? No problem! You can help us just as much by doing the following:
                        br
                        ul
                            p.li-tab #[strong Share Vocabustudy with your friends] and family. The more people who use Vocabustudy, the more we can improve it.
                            p.li-tab #[strong Report bugs] and #[strong request features] on #[a(href="https://github.com/For-0/vocabustudy") Vocabustudy's GitHub page]. The more bugs we find, the more stable the site will be.
                            p.li-tab #[strong Follow us!] Create a GitHub account and consider clicking the star button on #[a(href="https://github.com/For-0/vocabustudy") Vocabustudy's GitHub page]. This helps us get more attention to the project.
                            p.li-tab #[strong Use Vocabustudy] and be sure to comment and like sets. Your comments and likes motivate creators to make more sets.
                            p.li-tab #[strong Make sets!] Making sets will help other people learn. The more sets we have, the more useful Vocabustudy will be.
                    li
                        p.title.is-size-3 BuyMeACoffee
                        p If you can donate electronically, please consider buying us a coffee.
                        br
                        a(href="https://www.buymeacoffee.com/forzero" target="_blank") #[img.ignore-user-hue(src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;")]

                    li
                        p.title.is-size-3 Physical Donation
                        p Donations can also be deposited at Omkar's locker. It is on the 4th floor next to the A stairwell (next to Ms. Krull's room). #[b Coins do not fit through the slot. Only bills do.]
                        ////It's pretty hard to miss because it has his name and a Vocabustudy advertisement on it.  (When I put it then I will un comment this
        br
        br
        hr
        h2.title.is2 Thank you for helping us! Even a dollar or a follower can help us improve this website.
    #social.page(data-nosnippet)
        h1 Social
        h1.subtitle.title.is-3 Follow and connect with us!
        .tabs-wrapper
            .tabs.is-large.is-toggle.is-primary
                ul
                    li.is-active
                        a Discord
                    li
                        a YouTube
            .tabs-content
                ul
                    li.is-active
                        h1.title.is-size-3 Discord Server
                        p Have you joined our Discord server yet? There's free homework help, support, bots, and more!
                        p The server in completely student-run, and Nikhil, Omkar, and Siddhant do not endorse it. The server is moderated by Nikhil Gupta, Omkar Patil, and Ruhan Gupta, in addition to our team of moderators and helpers.
                        p For any questions about the Discord server, please contact #[b OP#1192] or #[b Nikhilatvocabustudy#4578] in Discord, or email #[a(href="mailto:management@vocabustudy.org") management@vocabustudy.org].
                        p If you wish to join, you can join #[a(href="https://discord.gg/UrRs7Bbr6d") here].
                    li
                        p.title.is-size-3 YouTube
                        p.title.is-4 Check out our YouTube channel #[a(href="https://www.youtube.com/@forzero") here!]
                        p Our channel is a work in progress, so we don't have much content as of now. However, we'll be adding more content soon, so #[b stay tuned]!
    #home.page.homepage-lead
        .custom-scrollbar
            div
                div
                    div
                        h2.is-size-3.has-text-centered-mobile.has-text-weight-semibold(style="line-height: normal; width: auto;") Learn Vocabulary, #[br]For Free.
                        ul.is-hidden-mobile
                            li 100% Free
                            li No Ads
                            li Relevant Vocab
                    p.my-0.is-size-6 #[a.has-text-white.is-size-5.has-text-weight-semibold(href="/#credits") Credits]
                    p.mb-0.mt-4.is-size-7 VOCABUSTUDY - U STUDY VOCAB
                        br
                        button.button.is-ghost.btn-show-features(style="color: white;")
                            span.icon.is-small
                                +material-symbol("keyboard_double_arrow_down")
            .home-features
                div
                    h2.is-size-4 Features:
                    ul.list.has-text-white.is-filled
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                +material-symbol("tune", true, true)
                            .list-item-content
                                .list-item-title Multiple Study Modes
                                .list-item-description
                                    span.is-hidden-mobile Don't like flashcards? You can take a mock test, match terms, and more!
                                    span.is-hidden-tablet Flashcards, learn, test, and match
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                +material-symbol("category", true, true)
                            .list-item-content
                                .list-item-title Collections
                                .list-item-description
                                    span.is-hidden-mobile Transform your learning with designed collections of vocab sets.
                                    span.is-hidden-tablet Find sets about a specific topic
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                +material-symbol("rule", true, true)
                            .list-item-content
                                .list-item-title Effective Test Prep
                                .list-item-description
                                    span.is-hidden-mobile Ace your test with customized sets for your classes.
                                    span.is-hidden-tablet Find sets about relevant topics
                        li.list-item.is-flex-wrap-nowrap.pb-0.is-clickable(onclick="window.open('https://github.com/For-0')")
                            .list-item-image
                                +material-symbol("money_off", true, true)
                            .list-item-content
                                .list-item-title(style="font-weight: bold; text-decoration: underline;") A For Zero Application
                                .list-item-description
                                    span.is-hidden-mobile Fast, simple, effective, and completely free.
                                    span.is-hidden-tablet Forever free
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                +material-symbol("school", true, true)
                            .list-item-content
                                .list-item-title Study Guides
                                .list-item-description
                                    span.is-hidden-mobile Learn and quiz yourself about a topic
                                    span.is-hidden-tablet Learning and quizzing combined
                    .buttons.has-addons.is-centered.mt-4
                        a.button.is-primary.is-rounded.m-1(href="/#search")
                            +material-symbol("search", false, true)
                            span Browse Sets
                        a.button.is-white.is-rounded.m-1(href="/login/")
                            +material-symbol("account_circle", true, true)
                            span Sign Up
append scripts-footer
    .announcements-container
    #modal-filter-collection.modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Filter by Collection
                button.delete(aria-label="close")
            section.modal-card-body.custom-scrollbar.is-thumb-only
                p.m-0 You can choose a maximum of 10 collections to filter by
                aside.menu
                    p.menu-label Collections
                    ul.menu-list
            footer.modal-card-foot
                button.button.is-success.action-close(type="button") OK
    #modal-change-hue.modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Change Color
                button.delete(aria-label="close")
            section.modal-card-body
                p Set Color:
                input.slider.is-fullwidth.is-primary(min="0" max="360" type="range" value="0")
            footer.modal-card-foot
                button.button.is-primary.action-close(type="button") OK
    #modal-change-collection-name.modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Change Collection Name
                button.delete(aria-label="close")
            section.modal-card-body
                input.input(type="text" required placeholder="Name")
            footer.modal-card-foot
                button.button.is-success(type="button") OK
    script(src="js/index.ts" type="module")
