extends includes/layout.pug
block variables
    - var title = "Home";
block main-stylesheet
    link(rel="stylesheet" href="css/home.scss")
block extrahead
    link(rel="preload" href="./images/hero-background.svg" as="image")
block content
    .page#login(data-nosnippet data-mode="login")
        .container
            .columns.is-multiline
                .column.is-8.is-offset-2
                    .columns
                        .column.p-6.is-hidden-touch.has-text-centered.is-relative
                            h1.title.is-3.has-text-primary Free, Fast, Simple, and Effective.
                            h1.title.is-4 That's the kind of studying you get when you join Vocabustudy.
                            br
                            img.nohuechange.is-block.mx-auto(src="./icons/icon-192.png" style="width: 8rem; height: 8rem" alt="Vocabustudy Logo")
                            p.prompt-switch-mode(style="position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); width: 100%;")
                                span.log-in Already have an account? #[a.has-text-primary.has-text-weight-bold(role="button" tabindex="0") Log in]
                                span.sign-up Don't have an account? #[a.has-text-primary.has-text-weight-bold(role="button" tabindex="0") Sign up]
                        .column.has-text-centered.p-6
                            h1.title.is-4.form-title
                            form(novalidate)
                                .field
                                    .control
                                        input.input.is-medium(type="text" placeholder="Display Name" id="login-display-name" required)
                                .field
                                    .control
                                        input.input.is-medium(type="email" placeholder="Email" id="login-email" required)
                                .field
                                    .control
                                        input.input.is-medium(type="password" placeholder="Password" id="login-password" required)
                                .field
                                    .control
                                        input.input.is-medium(type="password" placeholder="Confirm Password" id="login-confirm-password" required)
                                .field
                                    input.is-checkradio.is-gold#login-accept-tos(type="checkbox" required)
                                    label(for="login-accept-tos") I accept the #[a.has-text-primary(href="/terms/") Terms of Service] and #[a.has-text-primary(href="/privacy/") Privacy Policy]
                                button.button.is-primary.is-medium.is-fullwidth(type="submit")
                            button.button.is-light.is-medium.is-fullwidth.mt-3.btn-continue-google(type="button")
                                span.icon.nohuechange(style="width: 24px; height: 24px;")
                                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 48 48' height="24" width="24")
                                        g
                                            path(fill='#EA4335', d='M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z')
                                            path(fill='#4285F4', d='M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z')
                                            path(fill='#FBBC05', d='M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z')
                                            path(fill='#34A853', d='M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z')
                                            path(fill='none', d='M0 0h48v48H0z')
                                span.is-hidden-mobile Continue with Google
                            br
                            small
                                em 
                                    span.is-hidden-mobile You must be at least 13 years old to use an account, or you must have permission from a parent/guardian.
                                    span.is-hidden-tablet You must be at least 13 or have parental permission to use an account.
                .column.is-8.is-offset-2.p-0
                    .level.mt-2.has-text-centered.is-mobile.is-flex-wrap-wrap.is-justify-content-center(style="row-gap: 1rem;")
                        .level-left
                            .level-item
                                button.btn-switch-mode.button.is-secondary-light.mr-4
                                button.btn-forgot-password.button.is-primary-alt.mr-4 Forgot Password?
                        .level-right
                            .level-item
                                a.button.is-primary.btn-tos.is-primary-alt(href="/terms/" style="white-space: pre;") Terms #[span.is-hidden-mobile of Service]
        img.nohuechange.is-hidden-mobile(src="./icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy Logo")
    .page#account(data-nosnippet)
        h1 My Account
        p Only your display name is public.
        .card 
            .card-content
                .content
                    .title.is-size-5.fw-bold.field-name(style="word-break:break-word;")
                    .supporting-text
                        span.field-email
                        span.field-email-not-verified.fw-bold.nohuechange.tag.ml-1.is-danger(hidden) Email Not Verified
                        span.field-email-verified.fw-bold.nohuechange.tag.ml-1.is-success(hidden) Email Verified
                    .supporting-text 
                        strong Account Created: 
                        span.field-created
            footer.card-footer.is-flex-wrap-wrap
                p.card-footer-item(hidden)
                    button.button.is-ghost.has-text-primary.btn-verify-email Verify Email
                p.card-footer-item
                    button.button.is-ghost.has-text-primary.btn-change-name Change Display Name
                p.card-footer-item
                    button.button.is-ghost.has-text-primary.btn-change-password Change Password
                p.card-footer-item
                    button.button.is-ghost.btn-delete-account.has-text-danger.nohuechange Delete Account
    .page#mysets(data-nosnippet)
        h1 My Sets:
            .dropdown.is-pulled-right
                .dropdown-trigger
                    button.button.btn-create.has-text-white.is-ghost(aria-haspopup="true" aria-controls="dropdown-menu")
                        span.icon
                            i.material-symbols-rounded(aria-hidden="true") add_circle_outline
                        span Create
                        span.icon.is-small
                            i.material-symbols-rounded(aria-hidden="true") arrow_drop_down
                .dropdown-menu.menu-create(role="menu")
                    .dropdown-content
                        a.dropdown-item(href="/set/new/edit/")
                            i.material-symbols-rounded(aria-hidden="true") add_circle_outline
                            span Set
                        a.dropdown-item(href="/set/new-timeline/edit/")
                            i.material-symbols-rounded(aria-hidden="true") add_circle_outline
                            span Timeline
                        a.dropdown-item(href="/set/new-guide/edit/")
                            i.material-symbols-rounded(aria-hidden="true") add_circle_outline
                            span Guide
        .set-container(data-empty="You don't have any sets. Create one!")
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
        .box.level.mt-3
            .level-left
                .level-item
                    h2.title.is-5 My Custom Collections:
            .level-right
                .level-item
                    button.button.is-primary.is-outlined.btn-create-collection
                        span.icon
                            i.material-symbols-rounded(aria-hidden="true") add_circle_outline
                        span Create Custom Collection
        .collection-container.set-container(data-empty="You don't have any custom collections. Create one!")
    .page#admin(data-nosnippet)
        h1 Admin Portal
        button.button.is-warning.mb-4.btn-get-all.is-block Load All Sets
        .set-container(data-empty="No Sets")
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
    .page#saved-sets(data-nosnippet)
        h1 Saved Sets
        h2 Liked Sets:
        .liked-container.set-container(data-empty="No Sets")
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
    .page#search(data-nosnippet)
        h1 Browse Sets:
        details.box.block.mt-5
            summary
                h2.title.is-size-4(style="display: inline;") Featured Sets
            .set-container.mt-4(style="cursor: auto;" data-empty="No featured sets") Loading featured sets...
        h2.title.is-size-4.mb-0 Search:
        p.block Most sets are created by CVMS students for CVMS students
        div.field-search-container.box.p-3
            .level.mb-2
                .level-left.is-flex-grow-1
                    .level-item(style="width: calc(100% - 1rem);")
                        input.input.field-search(placeholder="Search" type="text" autocomplete="off")
                .level-right
                    .level-item.buttons
                        button.button.is-outlined.is-info.btn-collections-menu(type="button")
                            span.icon
                                i.material-symbols-rounded(aria-hidden="true") filter_list
                            span Collections
                        button.button.is-outlined.is-danger.btn-clear-filters(type="button")
                            span.icon
                                i.material-symbols-rounded(aria-hidden="true") filter_list_off
                            span Clear
                        button.button.is-primary.btn-search-go(type="button")
                            span.icon
                                i.material-symbols-rounded(aria-hidden="true") search
                            span Search
            p.m-1 Maximum 10 Words/Collections:
                span.ml-1.is-inline-block.field-search-collections-list(style="vertical-align: bottom;")
        .set-container.mt-4(data-empty="No Sets Matched Your Search. Did you spell each word correctly?") Try searching for something like '50 States' or try a featured set above.
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
    .page#credits(data-nosnippet)
        h1 Credits - Vocabustudy
        div(style="text-align: center;")
            p.title.is-size-5 Vocabustudy is part of a group of applications called the #[a(href="https://github.com/For-0") For Zero Applications].
            p.title.is-size-6 For Zero is a project to create helpful, student-conscious applications that are completely free and transform student life. Thank you for being on our journey!
            .py-4.box
                button.button.is-primary.is-credit #[p.has-text-white.subtitle.is-5 Siddhant Kameswar]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Siddhant Kameswar
                            .tags.is-inline-block #[span.tag.is-primary.is-light.nohuechange Creator] #[span.tag.is-link.is-light.nohuechange For Zero Co-Founder] #[span.tag.is-danger.is-light.nohuechange Lead Developer] #[span.tag.is-success.is-light.nohuechange Design]
                            br
                            p For Zero Applications is headed by #[strong Siddhant Kameswar], who is the creator of Vocabustudy. The amount of work and contribution given by Siddhant outstrips all other contributors.
                            .buttons.mt-3.is-inline-block
                                a(href="https://github.com/grimsteel").button.is-small.is-github.nohuechange #[img(src="icons/brands/github.svg" alt="GitHub").credits-brandicons]
                                a(href="/user/AZ1AbMqRkoWavZsVg3Gi6DbnF7x2/").button.is-small.is-vocabustudy.nohuechange #[img(alt="Vocabustudy" src="icons/brands/vocabustudy-transparent-brownV.svg").credits-brandicons]
                button.button.is-primary.is-credit #[p(style="color:white;").subtitle.is-5 Ruhan Gupta]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Ruhan Gupta
                            .tags.is-inline-block #[span.tag.is-link.is-light.nohuechange For Zero Co-Founder] #[span.tag.is-danger.is-light.nohuechange Developer] #[span.tag.is-success.is-light.nohuechange Design] #[span.tag.is-info.is-light.nohuechange Lead Marketer (Public Relations)]
                            br
                            p #[strong Ruhan Gupta] (not Nikhil's brother) helped #[strong co-found] For Zero and has contributed to some of the #[strong visual design] of the applications, like Vocabustudy. Like the other contributors, he has #[strong helped with functionality, testing, and bug fixes], created the #[strong For Zero and Vocabustudy logo], and helped improve the design of the #[strong Vocabustudy Discord Server]. He manages with the For Zero's organization operations and interaction with the outside world.
                            .buttons.mt-3.is-inline-block
                                a(href="https://github.com/IMGROOT2").button.is-small.is-github.nohuechange #[img(src="icons/brands/github.svg" alt="GitHub").credits-brandicons]
                                a(href="https://discordapp.com/users/698961308506390568").button.is-small.is-discord.nohuechange #[img(src="icons/brands/discord.svg" alt="Discord").credits-brandicons]
                                a(href="/user/nWasbt2yvXewc8AhGSqwmfT4gVu2/").button.is-small.is-vocabustudy.nohuechange #[img(src="icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy").credits-brandicons]
                button.button.is-primary.is-credit #[p(style="color:white;").subtitle.is-5 Omkar Patil]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Omkar Patil
                            .tags.is-inline-block #[span.tag.is-info.is-light.nohuechange Marketer] #[span.tag.is-warning.is-light.nohuechange Tester] #[span.tag.is-danger.is-light.nohuechange Developer]
                            br
                            p #[strong Omkar Patil] has been with Siddhant since the beginning. Throughout the development of Vocabustudy, he has #[strong helped with testing, bug fixes, and new features] and has #[strong requested features] to make Vocabustudy better. He also #[strong helped set up the Discord server]. Above all, he and Nikhil have #[strong shared Vocabustudy with the world], and has helped grow it along the way.
                            .buttons.mt-3.is-inline-block
                                a(href="https://github.com/PrakmO").button.is-small.is-github.nohuechange #[img(src="icons/brands/github.svg" alt="GitHub").credits-brandicons]
                                a(href="/user/mnDmw8WhAGSup4W2kH0EsRCgb072/").button.is-small.is-vocabustudy.nohuechange #[img(src="icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy").credits-brandicons]
                button.button.is-primary.is-credit #[p(style="color:white;").subtitle.is-5 Nikhil Gupta]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Nikhil Gupta
                            .tags.is-inline-block #[span.tag.is-info.is-light.nohuechange Marketer] #[span.tag.is-danger.is-light.nohuechange Developer]
                            br
                            p #[strong Nikhil Gupta] ("not" Ruhan's brother) has also been with Siddhant since the beginning. Throughout the development of Vocabustudy, he has #[strong requested features] to make Vocabustudy better. He #[strong created the Discord server], #[strong invited people], and #[moderates it]. He and Omkar have #[strong shared Vocabustudy with the world], which has helped grow it along the way.
                            .buttons.mt-3.is-inline-block
                                a(href="https://github.com/Nikhilatvocabustudy").button.is-small.is-github.nohuechange #[img(src="icons/brands/github.svg" alt="GitHub").credits-brandicons]
                                a(href="https://discordapp.com/users/999731275667619971").button.is-small.is-discord.nohuechange #[img(src="icons/brands/discord.svg" alt="Discord").credits-brandicons]
                                a(href="/user/indXd3yqrqVZw07LCWHnTm69ZAg1/").button.is-small.is-vocabustudy.nohuechange #[img(src="icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy").credits-brandicons]
                button.button.is-primary.is-credit #[p(style="color:white;").subtitle.is-5 Michael Zhao]
                .modal.is-credit
                    .modal-background
                    .modal-content
                        .box
                            p.mb-2.title.is-4 Michael Zhao
                            .tags.is-inline-block #[span.tag.is-warning.is-light.nohuechange Tester]
                            br
                            p #[strong Michael Zhao], once told about Vocabustudy, started stress testing it. The amount of bugs he found and helped fix cannot be counted.* He has helped countless times with making Vocabustudy more responsive and easier to use on smaller screens.
                            p(style="margin-top: 2rem; font-size: 8px;") *Maybe they can be??????????
            br
            p.title.is-size-5 Vocabustudy was built with the following:
            br
            .py-4.box.has-text-centered(style="height: auto;")
                div.tile.is-ancestor.is-5
                    div.tile.is-vertical.is-parent
                        div.tile.is-child
                            button.button.has-background-white.is-static.has-text-black(style="font-size: 4rem; border-radius: 6px; height: 100px; border-color: white;") Raleway Font
                        div.tile.is-child
                            img.my-auto.has-background-white(src="images/made-with-bulma.png?as=webp&height=100" style="border-radius: 6px; height: 100px;").nohuechange
                    div.tile.is-parent
                        div.tile.is-child
                            img(src="images/built-with-firebase.svg" style="height: 220px").nohuechange
            ul(style="margin-bottom: 2rem; margin-top: 1rem;")
                li Thank you to everybody who reports bugs. Your reports help us make Vocabustudy better.
                li Thank you to all moderators and helpers on the Vocabustudy Discord Server.
    .page#donate(data-nosnippet)
        h1 Donate
        p.title.is-size-3 Your donations help!
        p Vocabustudy is a free website, but donations do serve a purpose. Your ability to donate won't affect how you are treated on the site.
        p Donations will help us pay for the domain. It is $12 per year.
        p If we get enough donations, we will use it to pay for a better plan, which means that we can afford more features and make the website better for all of us.
        p If you'd like to donate, there are two ways you can help out!
        br
        p.title.is-size-3 1. BuyMeACoffee
        p If you can donate electronically, please consider buying us a coffee.
        br
        <a href="https://www.buymeacoffee.com/forzero" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" class="nohuechange"></a>
        br
        br
        p.title.is-size-3 2. Physical Donation
        
        p Donations can also be deposited at Omkar's locker. It is on the 4th floor next to the A stairwell (next to Ms. Krull's room). #[b Coins do not fit through the slot. Only bills do.]
        ////It's pretty hard to miss because it has his name and a Vocabustudy advertisement on it.  (When I put it then I will un comment this
        br
        h2.title.is2 Thank you for your donations! Even a dollar can help us improve this website.
    .page#discord(data-nosnippet)
        h1 Discord
        p.title.is-size-5 Vocabustudy Discord Server
        p Have you joined our Discord server yet? There's free homework help, support, bots, and more!
        p The server in completely student-run, and Nikhil, Omkar, and Siddhant do not endorse it. The server is moderation by Nikhil Gupta, Omkar Patil, and Ruhan Gupta, in addition to our team of moderators and helpers.
        p For any questions about the Discord server, please contact "OP#1192" or "Nikhilatvocabustudy#4578" in Discord, or email #[a(href="mailto:management@vocabustudy.org") management@vocabustudy.org].
        p If you wish to join, you can join #[a(href="https://discord.gg/UrRs7Bbr6d") here].
    .page#youtube(data-nosnippet)
        h1 YouTube
        .has-text-centered
            p.title.is-4 Check out our YouTube channel #[a(href="https://www.youtube.com/@forzero") here!]
            p Our channel is a work in progress, so we don't have much content as of now. However, we'll be adding more content soon, so #[b stay tuned]!
            iframe(width="650" height="450" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/vZMAcyIOIok?autoplay=1><img src=https://img.youtube.com/vi/vZMAcyIOIok/hqdefault.jpg alt='What is Vocabustudy'><span>▶</span></a>" title="YouTube Video Player" frameborder="0" allow="autoplay; clipboard-write; picture-in-picture" allowfullscreen).nohuechange
    .page.homepage-lead#home
        div.custom-scrollbar
            div
                div
                    div
                        h2.is-size-3.has-text-centered-mobile.has-text-weight-semibold(style="line-height: normal; width: auto;") Learn Vocabulary, #[br]For Free.
                        ul.is-hidden-mobile
                            li 100% Free
                            li No Ads
                            li Relevant Vocab
                    p.mb-0.is-size-5.has-text-weight-semibold(style="margin-top: 2rem;") Created by Siddhant Kameswar
                    p.my-0.is-size-6 #[a.has-text-white.is-size-5.has-text-weight-semibold(href="/#credits" style="border-bottom: 1px solid white;") Credits]
                    p.mb-0.mt-4.is-size-7 VOCABUSTUDY - U STUDY VOCAB
                        br
                        button.button.is-ghost.btn-show-features(style="color: white;")
                            span.icon.is-small
                                i.material-symbols-rounded keyboard_double_arrow_down
            .home-features
                div
                    h2.is-size-4 Features:
                    ul.list.has-text-white.is-filled
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                span.icon
                                    i.material-symbols-rounded tune
                            .list-item-content
                                .list-item-title Multiple Study Modes
                                .list-item-description 
                                    span.is-hidden-mobile Don't like flashcards? You can take a mock test, match terms, and more!
                                    span.is-hidden-tablet Flashcards, learn, test, and match
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                span.icon
                                    i.material-symbols-rounded category
                            .list-item-content
                                .list-item-title Collections
                                .list-item-description 
                                    span.is-hidden-mobile Transform your learning with designed collections of vocab sets.
                                    span.is-hidden-tablet Find sets about a specific topic
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                span.icon
                                    i.material-symbols-rounded rule
                            .list-item-content 
                                .list-item-title Effective Test Prep
                                .list-item-description 
                                    span.is-hidden-mobile Ace your test with customized sets for your classes.
                                    span.is-hidden-tablet Find sets about relevant topics
                        li.list-item.is-flex-wrap-nowrap.pb-0.is-clickable(onclick="window.open('https://github.com/For-0')")
                            .list-item-image
                                span.icon
                                    i.material-symbols-rounded money_off
                            .list-item-content
                                .list-item-title(style="font-weight: bold; text-decoration: underline;") A For Zero Application
                                .list-item-description 
                                    span.is-hidden-mobile Fast, simple, effective, and completely free.
                                    span.is-hidden-tablet Forever free
                        li.list-item.is-flex-wrap-nowrap.pb-0
                            .list-item-image
                                span.icon
                                    i.material-symbols-rounded school
                            .list-item-content
                                .list-item-title Study Guides
                                .list-item-description 
                                    span.is-hidden-mobile Learn and quiz yourself about a topic
                                    span.is-hidden-tablet Learning and quizzing combined
                    .buttons.has-addons.is-centered.mt-4
                        a.button.is-primary.is-rounded.m-1(href="/#search")
                            span.icon
                                i.material-symbols-rounded(aria-hidden="true") search
                            span Browse Sets
                        a.button.is-white.is-rounded.m-1(href="/#login")
                            span.icon
                                i.material-symbols-rounded.is-filled(aria-hidden="true") account_circle
                            span Sign Up
append scripts-footer
    .modal#modal-reauthenticate-password
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Re-Authenticate
                button.delete(aria-label="close")
            section.modal-card-body
                p To verify your identity, please sign in again:
                input.input(type="password" required placeholder="Password")
            footer.modal-card-foot
                button.button.is-success(type="button") OK
    .modal#modal-change-password
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Change Password
                button.delete(aria-label="close")
            section.modal-card-body
                input.input(type="password" required placeholder="Password" minlength="6")
                input.input(type="password" required placeholder="Confirm Password" minlength="6")
            footer.modal-card-foot
                button.button.is-success(type="button") OK
    .modal#modal-change-name
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Set Name
                button.delete(aria-label="close")
            section.modal-card-body
                input.input(type="text" required placeholder="Name")
            footer.modal-card-foot
                button.button.is-success(type="button") OK
    .modal#modal-filter-collection
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Filter by Collection
                button.delete(aria-label="close")
            section.modal-card-body.custom-scrollbar.is-thumb-only
                p.m-0 You can choose a maximum of 10 collections to filter by
                aside.menu
                    p.menu-label Collections
                    ul.menu-list
            footer.modal-card-foot
                button.button.is-success.action-close(type="button") OK
    .modal#modal-change-hue
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Change Color
                button.delete(aria-label="close")
            section.modal-card-body
                p Set Color:
                input.slider.is-fullwidth.is-primary(min="0" max="360" type="range" value="0")
            footer.modal-card-foot
                button.button.is-primary.action-close(type="button") OK
    script(src="js/index.js" type="module")
