- var omitAccount = true;
- var title = "Learn Results";
- var description = "Results on your learn session.";
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex")
        link(rel="stylesheet", href="css/styles.scss")
        link(rel="stylesheet" href="css/bulma-styles.scss")
        link(rel="icon", href="icons/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons+Round|Material+Icons|Material+Icons+Outlined")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway&display=swap")
        script(src="js/sentry.js" type="module")
    body.mdc-typography
        include includes/navbar
        main
            div.page#home
                h1 Learn Results
                div.container-results(style="overflow-wrap: break-word;")
                p This information never leaves your computer, and is deleted when you close Vocabustudy
        include includes/footer
        script. 
            let learnResults = opener?.temp_learnResults;
            if (learnResults) {
                delete opener?.temp_learnResults;
                if (learnResults.results.length < 1) document.querySelector(".container-results").innerText = "No missed questions!";
                else {
                    learnResults.results.forEach(el => {
                        let row = document.querySelector(".container-results").appendChild(document.createElement("p"));
                        row.appendChild(document.createElement("strong")).innerText = el[1] + " ";
                        row.appendChild(document.createElement("span")).innerText = el[2];
                    });
                    let btn = document.querySelector(".container-results").appendChild(document.createElement("button"));
                    btn.classList.add("button", "button--raised");
                    btn.appendChild(document.createElement("span")).classList.add("button__ripple");
                    let label = btn.appendChild(document.createElement("span"));
                    label.classList.add("button__label");
                    label.innerText = "Star All Terms";
                    btn.addEventListener("click", () => {
                        opener.StarredTerms.setStars(learnResults.results.map(el => el[0]), true);
                        btn.disabled = true;
                        btn.querySelector("span:last-child").innerText = "Starred";
                    });
                }
            }