extends includes/layout.pug
block variables
    - var title = "Log In";
block main-stylesheet
    link(rel="stylesheet" href="css/login.scss")
block extrahead
    unless process.env.NODE_ENV === "development"
        script(src="https://accounts.google.com/gsi/client" async defer)
block content
    #home.page.login-background(data-nosnippet data-mode="login")
        .container
            .columns.is-multiline
                .column.is-8.is-offset-2
                    .columns
                        .column.p-6.is-hidden-touch.has-text-centered.is-relative.is-5
                            h1.title.is-3.has-text-primary Free, Fast, Simple, and Effective.
                            h1.title.is-4.is-hidden-touch.is-hidden-desktop-only That's the kind of studying you get when you join Vocabustudy.
                            br
                            img.ignore-user-hue.is-block.mx-auto(src="./icons/icon-192.png" style="width: 8rem; height: 8rem" alt="Vocabustudy Logo")
                            p.prompt-switch-mode(style="position: absolute; bottom: 1rem; left: 50%; transform: translateX(-50%); width: 100%;")
                                span.log-in Already have an account? #[a.has-text-primary.has-text-weight-bold(role="button" tabindex="0") Log in]
                                span.sign-up Don't have an account? #[a.has-text-primary.has-text-weight-bold(role="button" tabindex="0") Sign up]
                        .column.has-text-centered.p-6
                            h1.title.is-4.form-title
                            form(novalidate)
                                .field
                                    .control
                                        input#login-display-name.input.is-medium(type="text" placeholder="Display Name" required)
                                .field
                                    .control
                                        input#login-email.input.is-medium(type="email" placeholder="Email" required)
                                .field
                                    .control
                                        input#login-password.input.is-medium(type="password" placeholder="Password" required)
                                .field
                                    .control
                                        input#login-confirm-password.input.is-medium(type="password" placeholder="Confirm Password" required)
                                .field
                                    input#login-accept-tos.is-checkradio.is-gold(type="checkbox" required)
                                    label(for="login-accept-tos") I accept the #[a.has-text-primary(href="/terms/") Terms of Service] and #[a.has-text-primary(href="/privacy/") Privacy Policy]
                                button.button.is-primary.is-medium.is-fullwidth(type="submit")
                                div
                                    .divider.my-4 Or
                                #google-onetap-container.ignore-user-hue
                            small.is-block.mt-3
                                em
                                    span.is-hidden-mobile You must be at least 13 years old to use an account, or you must have permission from a parent/guardian.
                                    span.is-hidden-tablet You must be at least 13 or have parental permission to use an account.
                .column.is-8.is-offset-2.p-0
                    .level.mt-2.has-text-centered.is-mobile.is-flex-wrap-wrap.is-justify-content-center(style="row-gap: 1rem;")
                        .level-left
                            .level-item
                                button.btn-switch-mode.button.is-secondary-light.mr-4
                                button.btn-forgot-password.button.is-primary-alt.mr-4 Forgot Password?
                        .level-right
                            .level-item
                                a.button.is-primary.btn-tos.is-primary-alt(href="/terms/" style="white-space: pre;") Terms #[span.is-hidden-mobile of Service]
        img.ignore-user-hue.is-hidden-mobile(src="./icons/brands/vocabustudy-transparent-brownV.svg" alt="Vocabustudy Logo")
append scripts-footer
    script(src="js/login.js" type="module")