extends includes/layout.pug
mixin close_button
    a.delete.is-large(style="position: absolute;right: 0;top: 50%;transform: translateY(-75%);" href="#")
block variables
    - var title = "Set Detail";
    - var description = "Study a set, using one or more of our modes";
block main-stylesheet
    link(rel="stylesheet" href="css/set-detail.scss")
block extrahead
    script(src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@04f46c6/qrcode.min.js")
block content
    include study-modes/flashcards
    include study-modes/learn
    include study-modes/test
    include study-modes/match
    #home.page.is-relative.is-flex-direction-column(style="--page-display: flex;")
        h1
            span.field-name
            button.button.btn-like.ml-4.has-text-white.is-pulled-right.is-ghost(type="button" style="text-decoration: none;")
                +material-symbol("favorite", false, true)
                +material-symbol("favorite", true, true)
                span.ml-1 Like
            p.subtitle.is-6.is-pulled-right.has-text-white(style="margin-top: 10px;")
                span.field-num-terms
                |  terms
        p.field-description(style="min-height: 0;overflow-y: auto;max-height:25vh;")
        hr.my-3
        .columns.main-content.is-flex-direction-row-reverse.custom-scrollbar.is-thumb-only(style="overflow: auto; overflow-wrap: break-word;flex: 1;")
            .column.is-narrow
                .study-modes.box.buttons.are-medium.custom-scrollbar.is-thumb-only(style="width: min-content; height: 100%; overflow: auto;")
                    a.button.is-primary.is-fullwidth(href="#flashcards")
                        +material-symbol("photo_library", true, true)
                        span Flashcards
                    a.button.is-primary.is-outlined.is-fullwidth(href="#learn")
                        +material-symbol("quiz", true, true)
                        span Learn
                    a.button.is-primary.is-outlined.is-fullwidth(href="#test")
                        +material-symbol("assignment", true, true)
                        span Test
                    a.button.is-primary.is-outlined.is-fullwidth(href="#match")
                        +material-symbol("attach_file", true, true)
                        span Match
                    button.button.is-normal.btn-export-terms.is-fullwidth
                        +material-symbol("download", true, true, 20)
                        span Export
            .column.custom-scrollbar.is-thumb-only(style="overflow: auto;")
                .field-terms.columns.is-multiline
        .page-loader
            .loader-container
                span.loader.is-size-1
        include includes/quizlet-not-supported
        include includes/comment-quickview
append scripts-footer
    #modal-match-done.modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title All Done!
                button.delete(aria-label="close")
            section.modal-card-body.custom-scrollbar.is-thumb-only
                p(style="margin: 0;") You took 
                    strong.field-time-taken
                    |  seconds to finish
                    br
                    strong Leaderboard:
                .list.has-hoverable-list-items
                    .list-item
                        .list-item-content
                            .list-item-title No Leaderboard
                            .list-item-description
            footer.modal-card-foot
                button.button.action-close(type="button" data-action="back") Back
                button.button.is-success.action-close(type="button" data-action="restart") Restart
    #modal-match-help.modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Help with Match
                button.delete(aria-label="close")
            section.modal-card-body.custom-scrollbar.is-thumb-only
                p.mb-2
                    strong Mouse:
                    br
                    | Drag the items on the left onto the items on the right
                    br
                    strong Touch:
                    br
                    | Tap an item on the left, then tap one on the right
                p Matching an item on the left to an item on the right that already has an item inside it will unmatch the item inside
            footer.modal-card-foot
                button.button.is-success.action-close(type="button") OK
    #modal-export-terms.modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Share
                button.delete(aria-label="close")
            section.modal-card-body.custom-scrollbar.is-thumb-only
                .list.has-hoverable-list-items
                    .list-item
                        .list-item-content
                            .list-item-title Set URL
                            .list-item-description
                                a.share-link(target="_blank" style="word-break: break-all;")
                        .list-item-controls
                            .buttons
                                button.button.btn-copy-link(type="button" title="Copy")
                                    +material-symbol("content_paste", false, true, 20)
                                button.button.btn-shorten-link(type="button" title="Shorten")
                                    +material-symbol("app_shortcut", false, true, 20)
                                button.button.btn-share(type="button" title="Share")
                                    +material-symbol("share", false, true, 20)
                    .list-item
                        .list-item-content
                            .list-item-title Export
                            .list-item-description
                                p.m-0 Paste this into the #[code Import Terms] dialog to copy this set:
                                pre.custom-scrollbar(style="max-width: 100%; overflow: auto;")
                        .list-item-controls
                            .buttons
                                button.button.btn-copy(type="button" title="Copy Terms")
                                    +material-symbol("content_paste", false, true, 20)
                    .list-item
                        .list-item-content
                            .list-item-title QR Code
                            .list-item-description
                                #set-qrcode
                        .list-item-controls
                            .buttons
                                button.button.btn-copy-qrcode(type="button" title="Copy Terms")
                                    +material-symbol("content_paste", false, true, 20)
            footer.modal-card-foot
                button.button.is-success.action-close(type="button") OK
    script(src="js/set-detail.ts" type="module")
