- var scriptFile = "set-detail.js";
- var showBack = true;
- var title = "Set Detail";
- var description = "Study a set, using one or more of our modes";
doctype html
html(lang="en")
    include includes/head
    body.mdc-typography
        include includes/navbar
        main.mdc-top-app-bar--fixed-adjust
            .page#flashcards
                h1 Flashcards - 
                    span
                    p.mdc-typography--subtitle1(style="margin: 0;")
                        span 0
                        |  / 
                        span 0
                        |  terms
                div
                    div
                        p
                            strong Answer With:
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-flashcards-answer-term.mdc-radio__native-control(type='radio', name='radio-flashcards-answer-with')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                label(for='radio-flashcards-answer-term') Term
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-flashcards-answer-definition.mdc-radio__native-control(type='radio', name='radio-flashcards-answer-with', checked='')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                label(for='radio-flashcards-answer-definition') Definition
                    div
                div
                    button#btn-previous-flashcard.mdc-button.mdc-button--icon-leading.mdc-button--outlined
                        span.mdc-button__ripple
                        i.material-icons.mdc-button__icon(aria-hidden='true') arrow_back
                        span.mdc-button__label Previous (Left Arrow)
                    button#btn-flip-flashcard.mdc-button.mdc-button--icon-leading.mdc-button--raised
                        span.mdc-button__ripple
                        i.material-icons.mdc-button__icon(aria-hidden='true') change_circle
                        span.mdc-button__label Flip (Space)
                    button#btn-next-flashcard.mdc-button.mdc-button--icon-trailing.mdc-button--outlined
                        span.mdc-button__ripple
                        span.mdc-button__label Next (Right Arrow)
                        i.material-icons.mdc-button__icon(aria-hidden='true') arrow_forward
            .page#learn
                h1.mdc-typography--headline4
                    | Learn - 
                    span
                div
                    div(style='flex-shrink: 0;')
                        p(style='margin: 0;')
                            strong Answer With:
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-learn-answer-term.mdc-radio__native-control(type='radio', name='radio-learn-answer-with', checked='')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                label(for='radio-learn-answer-term') Term
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-learn-answer-definition.mdc-radio__native-control(type='radio', name='radio-learn-answer-with')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                label(for='radio-learn-answer-definition') Definition
                        p(style='margin-bottom: 0;')
                            strong Progress:
                        em(style='padding: 0;')
                            span#learn-num-terms
                            |    terms
                        p(style='margin: 0; margin-top: 8px;') Multiple Choice:
                        .mdc-circular-progress(style='width:48px;height:48px;', role='progressbar', aria-label='Multiple Choice Progress', aria-valuemin='0', aria-valuemax='1')
                            .mdc-circular-progress__determinate-container
                                svg.mdc-circular-progress__determinate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle.mdc-circular-progress__determinate-track(cx='24', cy='24', r='18', stroke-width='4')
                                    circle.mdc-circular-progress__determinate-circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='113.097', stroke-width='4')
                            .mdc-circular-progress__indeterminate-container
                                .mdc-circular-progress__spinner-layer
                                    .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-left
                                        svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                                    .mdc-circular-progress__gap-patch
                                        svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='3.2')
                                    .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-right
                                        svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                        p(style='margin: 0;') Short Answer:
                        .mdc-circular-progress(style='width:48px;height:48px;', role='progressbar', aria-label='Short Answer Progress', aria-valuemin='0', aria-valuemax='1')
                            .mdc-circular-progress__determinate-container
                                svg.mdc-circular-progress__determinate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle.mdc-circular-progress__determinate-track(cx='24', cy='24', r='18', stroke-width='4')
                                    circle.mdc-circular-progress__determinate-circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='113.097', stroke-width='4')
                            .mdc-circular-progress__indeterminate-container
                                .mdc-circular-progress__spinner-layer
                                    .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-left
                                        svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                                    .mdc-circular-progress__gap-patch
                                        svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='3.2')
                                    .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-right
                                        svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                            circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                    div
                        p.mdc-typography--headline3
                        div
                            p.mdc-typography--body1
                                | Tip: Use the number keys 1-4 to answer multiple choice questions
                            p(hidden='')
                                button.mdc-button.mdc-button--icon-trailing(type='button')
                                    span.mdc-button__ripple
                                    span.mdc-button__label Most Missed Questions
                                    i.material-icons.mdc-button__icon(aria-hidden='true') open_in_new
                            p.answer-correct.mdc-typography-button(hidden='')
                                | Correct!
                                br
                                strong correct answer
                                br
                                | Press 
                                kbd Enter
                                |    or click here to move on
                            p.answer-incorrect.mdc-typography-button(hidden='')
                                | Incorrect - the correct answer is:
                                br
                                strong correct answer
                                br
                                | Press 
                                kbd Enter
                                |    or click here to move on
                                button.mdc-button(type='button')
                                    span.mdc-button__ripple
                                    span.mdc-button__label Override - Correct
                        div
                            fieldset
                            label.mdc-text-field.mdc-text-field--outlined(style='width: 88%;')
                                span.mdc-notched-outline
                                    span.mdc-notched-outline__leading
                                    span.mdc-notched-outline__notch
                                        span#learn-inputbox-label.mdc-floating-label Your Answer
                                    span.mdc-notched-outline__trailing
                                input.mdc-text-field__input(type='text' aria-labelledby='learn-inputbox-label' required)
                            button.mdc-button.mdc-button--raised(type='button')
                                span.mdc-button__ripple
                                span.mdc-button__label Check
                        fieldset
                            button.mdc-button.mdc-button--outlined.mdc-button--icon-leading(data-answerindex='0')
                                span.mdc-button__ripple
                                i.material-icons.mdc-button__icon(aria-hidden='true') filter_1
                                span.mdc-button__label Option 1
                            button.mdc-button.mdc-button--outlined.mdc-button--icon-leading(data-answerindex='1')
                                span.mdc-button__ripple
                                i.material-icons.mdc-button__icon(aria-hidden='true') filter_2
                                span.mdc-button__label Option 2
                            button.mdc-button.mdc-button--outlined.mdc-button--icon-leading(data-answerindex='3')
                                span.mdc-button__ripple
                                i.material-icons.mdc-button__icon(aria-hidden='true') filter_3
                                span.mdc-button__label Option 3
                            button.mdc-button.mdc-button--outlined.mdc-button--icon-leading(data-answerindex='4')
                                span.mdc-button__ripple
                                i.material-icons.mdc-button__icon(aria-hidden='true') filter_4
                                span.mdc-button__label Option 4
            .page#test
                h1.mdc-typography--headline4
                    | Test - 
                    span
                div
                    div(style='width: 16%; overflow-x: auto;')
                        p(style="margin: 0;")
                            strong Answer With:
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-test-answer-term.mdc-radio__native-control(type='radio', name='radio-test-answer-with', checked='')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                wbr
                                label(for='radio-test-answer-term') Term
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-test-answer-definition.mdc-radio__native-control(type='radio', name='radio-test-answer-with')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                wbr
                                label(for='radio-test-answer-definition') Definition
                        p(style="margin: 0;")
                            strong Question Types:
                        div
                            .mdc-form-field.check-test-question-types
                                .mdc-checkbox
                                    input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-sa")
                                    .mdc-checkbox__background
                                        svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                            path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                        .mdc-checkbox__mixedmark
                                    .mdc-checkbox__ripple
                                label(for="check-test-question-sa") Short Answer
                        div
                            .mdc-form-field.check-test-question-types
                                .mdc-checkbox
                                    input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-mc")
                                    .mdc-checkbox__background
                                        svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                            path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                        .mdc-checkbox__mixedmark
                                    .mdc-checkbox__ripple
                                label(for="check-test-question-mc") Multiple Choice
                        div
                            .mdc-form-field.check-test-question-types
                                .mdc-checkbox
                                    input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-mt")
                                    .mdc-checkbox__background
                                        svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                            path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                        .mdc-checkbox__mixedmark
                                    .mdc-checkbox__ripple
                                label(for="check-test-question-mt") Matching
                        div
                            .mdc-form-field.check-test-question-types
                                .mdc-checkbox
                                    input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-tf")
                                    .mdc-checkbox__background
                                        svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                            path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                        .mdc-checkbox__mixedmark
                                    .mdc-checkbox__ripple
                                label(for="check-test-question-sa") True/False
                        label.mdc-text-field.mdc-text-field--filled.field-max-terms(style="width: 100%; margin-bottom: 4px;")
                            span.mdc-text-field__ripple
                            span.mdc-floating-label Max Terms
                            input.mdc-text-field__input(type="number" min="0")
                            span.mdc-line-ripple
                        button.mdc-button.mdc-button--icon-leading.mdc-button--outlined(style='display: block; margin-bottom: 8px')
                            span.mdc-button__ripple
                            i.material-icons.mdc-button__icon(aria-hidden='true') loop
                            span.mdc-button__label New Test
                        button.mdc-button.mdc-button--icon-leading.mdc-button--raised
                            span.mdc-button__ripple
                            i.material-icons.mdc-button__icon(aria-hidden='true') check_circle
                            span.mdc-button__label Check Answers
                    fieldset
                        h2.mdc-typography--headline4(data-count='0')  Short Answer Questions
                        div
                        h2.mdc-typography--headline4(data-count='0')  Multiple Choice Questions
                        div
                        h2.mdc-typography--headline4(data-count='0')
                            |  Matching Questions 
                            p.mdc-typography--body1(style='margin:0;') Select an item on the left, then choose the matching item on the right
                        div(style='display:flex;flex-direction:row;gap:20%;position:relative')
                            div
                            div
                            .matches-container
                        h2.mdc-typography--headline4(data-count='0')  True/False Questions
                        div
            .page#match
                h1.mdc-typography--headline4
                    | Match - 
                    span
                div
                    div(style='width: 16%; overflow-x: auto;')
                        p(style="margin:0; padding:0;")
                            strong Answer With:
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-match-answer-term.mdc-radio__native-control(type='radio' name='radio-match-answer-with')
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                label(for='radio-match-answer-term') Term
                        div
                            .mdc-form-field.answer-with
                                .mdc-radio.mdc-radio--touch
                                    input#radio-match-answer-definition.mdc-radio__native-control(type='radio' name='radio-match-answer-with' checked)
                                    .mdc-radio__background
                                        .mdc-radio__outer-circle
                                        .mdc-radio__inner-circle
                                    .mdc-radio__ripple
                                label(for='radio-match-answer-definition') Definition
                        p(style="margin: 0;") Time: 
                            span.field-time 0.0
                            | s
                        button.mdc-button.mdc-button--icon-leading.mdc-button--outlined.btn-refresh(style='margin-bottom: 8px;')
                            span.mdc-button__ripple
                            i.material-icons.mdc-button__icon(aria-hidden='true') loop
                            span.mdc-button__label Restart
                        button.mdc-icon-button.btn-refresh(style='margin-bottom: 8px')
                            .mdc-icon-button__ripple
                            span.mdc-icon-button__focus-ring
                            i.material-icons-round loop
                        h2.mdc-typography--headline6(style="margin-bottom: 0; padding-bottom: 0;") Help:
                        p(style="margin: 0; font-size: small;")
                            strong Mouse:
                            br
                            | Drag the items from left to right
                            br
                            strong Touch:
                            br
                            | Tap a left item, then tap a right item
                    div
                        div 
                        div 
            .page#home
                h1
                    span.field-name
                    button.mdc-button.mdc-button--leading.btn-like(style="float: right; color: white; margin-left: 1rem;" type="button")
                        span.mdc-button__ripple
                        i.material-icons-round.mdc-button__icon(aria-hidden="true") favorite_border
                        span.mdc-button__label Like
                    p.mdc-typography--subtitle1(style="float: right; margin: 0; margin-top: 4px;")
                        span.field-num-terms
                        |  terms
                p.field-description
                .field-terms
                .study-modes
                    a.mdc-button.mdc-button--raised.mdc-button--leading(style="--mdc-typography-button-font-size: .85rem;" href="#flashcards")
                        span.mdc-button__ripple
                        i.material-icons-round.mdc-button__icon(aria-hidden="true") collections
                        span.mdc-button__label Flashcards
                    a.mdc-button.mdc-button--outlined.mdc-button--leading(href="#learn")
                        span.mdc-button__ripple
                        i.material-icons-outlined.mdc-button__icon(aria-hidden="true") quiz
                        span.mdc-button__label Learn
                    a.mdc-button.mdc-button--outlined.mdc-button--leading(href="#test")
                        span.mdc-button__ripple
                        i.material-icons-outlined.mdc-button__icon(aria-hidden="true") assignment
                        span.mdc-button__label Test
                    a.mdc-button.mdc-button--outlined.mdc-button--leading(href="#match")
                        span.mdc-button__ripple
                        i.material-icons-outlined.mdc-button__icon(aria-hidden="true") attach_file
                        span.mdc-button__label Match
                details(style="margin-top: 1rem; float: left; width: 100%;")
                    summary
                        h2.mdc-typography--headline6(style="display: inline;") Comments
                    .comments-container.set-container(data-empty="No Comments. Post one!")
                    .field-comment(hidden)
                        label.mdc-text-field.mdc-text-field--filled
                            span.mdc-text-field__ripple
                            span.mdc-floating-label Comment
                            input.mdc-text-field__input(type="text" required)
                            span.mdc-line-ripple
                        button.mdc-button.mdc-button--outlined(type="button" style="display: block;" disabled)
                            span.mdc-button__ripple
                            span.mdc-button__label Save
        include includes/footer
        .mdc-dialog#modal-match-done
            .mdc-dialog__container
                .mdc-dialog__surface(role="alertdialog" aria-modal="true")
                    h2.mdc-dialog__title All Done!
                    .mdc-dialog__content
                        p(style="margin: 0;") You took 
                            strong.field-time-taken
                            |  seconds to finish
                            br
                            strong Leaderboard:
                        ul.mdc-list(data-evolution="true")
                    .mdc-dialog__actions
                        button.mdc-button.mdc-dialog__button(type="button" data-mdc-dialog-action="close")
                            .mdc-button__ripple
                            span.mdc-button__label Back
                        button.mdc-button.mdc-dialog__button(type="button" data-mdc-dialog-action="accept")
                            .mdc-button__ripple
                            span.mdc-button__label Restart