extends includes/layout.pug
block variables
    - var title = "Set Editor";
    - var description = "Edit a set";
block main-stylesheet
    link(rel="stylesheet" href="css/set-editor.scss")
block content
    #home.page
        h1 Edit Set
        .level
            .level-left
                .level-item
                    a.tags.has-addons(href="https://www.markdownguide.org/cheat-sheet/" target="_blank" rel="noopener noreferrer")
                        span.tag.is-primary
                            span.material-symbols-rounded(style="font-size: 1rem;") text_format
                        span.tag.is-primary.is-light Markdown is Supported
            .level-right
                .level-item
                    span.tags.has-addons(href="https://www.markdownguide.org/cheat-sheet/" target="_blank" rel="noopener noreferrer")
                        span.tag.is-info
                            span.material-symbols-rounded(style="font-size: 1rem;") info
                        span.tag.is-info.is-light Please make sure to keep sets relevant
        form(novalidate)
            .level.is-mobile
                .level-left.is-flex-grow-1
                    .level-item(style="width: 100%;")
                        .field.mr-3(style="width: 100%;")
                            label.label Set Name
                            .control
                                input.input.field-name.is-primary(text="text" required maxlength="500")
                .level-right.is-align-self-flex-end
                    .level-item
                        .dropdown.field-visibility
                            .dropdown-trigger
                                button.button(type="button")
                                    span Private
                                    span.icon
                                        i.material-symbols-rounded expand_more
                            .dropdown-menu
                                .dropdown-content
                                    .dropdown-item Set Visibility
                                    hr.dropdown-divider
                                    a.dropdown-item.is-active(style="--dropdown-item-active-background-color: var(--warning); --dropdown-item-active-color: var(--warning-invert);") Private
                                    a.dropdown-item(style="--dropdown-item-active-background-color: var(--info);") Unlisted
                                    a.dropdown-item Shared
                                    a.dropdown-item(style="--dropdown-item-active-background-color: var(--success);") Public
            .field
                label.label Set Description
                .control
                    input.input.field-description(text="text" maxlength="5000")
            .box.level.vocab-words-controls
                .level-left
                    .level-item
                        h2.title.is-size-5.mb-0 Vocabulary Words
                .level-right
                    .level-item
                        .buttons
                            button.button.is-primary.btn-add-term.ml-4(type="button")
                                span.icon
                                    i.material-symbols-rounded add_circle
                                span Add
                            button.button.is-light.is-primary.btn-add-quiz.ml-4(type="button" hidden)
                                span.icon
                                    i.material-symbols-rounded add_circle
                                span Add Quiz
                            button.button.is-outlined.is-primary.ml-4.btn-import-terms(type="button")
                                span.icon
                                    i.material-symbols-rounded.is-filled upload_file
                                span Import Items
            .notification.is-warning.is-light.warning-duplicate(hidden)
                span.icon.mr-3
                    i.material-symbols-rounded.is-filled(style="font-size: 1rem; vertical-align: middle;") warning
                span It looks like this set has duplicate terms/definitions. This makes it hard for studiers
            .field-terms-edit.is-multiline(data-empty="There are no items. Add some!")
            .box.level 
                .level-left
                    .level-item
                        h2.title.is-size-5 Collections
                .level-right
                    .level-item
                        .tags.has-addons
                            span.tag.is-warning
                                span.material-symbols-rounded(style="font-size: 1rem;") warning
                            span.tag.is-warning.is-light Please don't spam collections
            aside.menu
                ul.menu-list.field-collections
            .field.is-grouped
                .control
                    button.button.is-primary(type="submit")
                        span.icon
                            span.material-symbols-rounded save
                        span Save
                .control
                    button.button.is-primary.is-outlined.btn-cancel(type="button")
                        span.icon
                            span.material-symbols-rounded cancel
                        span Cancel
append scripts-footer
    .modal#dialog-import-terms
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Import Terms
                button.delete(aria-label="close")
            section.modal-card-body
                details
                    summary Import from Quizlet 
                    a(href="javascript: (function () {if (location.pathname.match(/^\\/\\d+\\/[\\w-]+\\/?$/)) navigator.clipboard.writeText(Object.values(Quizlet.setPageData.termIdToTermsMap).map(el => {let a = {term: el.word, definition: el.definition}; if (el._imageUrl) a.term += ` ![image](${el._imageUrl})`;return a}).map(e => `${e.term}  ${e.definition}`).join('\\n')).then(() => alert('Copied terms to clipboard! Paste this into \"Import Terms\" in Vocabustudy.')).catch(err => alert(`An error occurred: ${err.toString}`)); else alert('You must do this on a Quizlet set page');}())") Drag this url to the bookmarks bar
                    | . Then, click the bookmark while on a Quizlet set page.
                details.mb-4
                    summary Import from Blooket
                    .columns.is-mobile
                        .column
                            .field.mr-3(style="width: 100%;")
                                label.label Blooket URL
                                .control
                                    input.input.field-import-blooket(text="url" required maxlength="500")
                                p.help Enter a URL like #[kbd https://dashboard.blooket.com/set/.....] or #[kbd https://play.blooket.com/play?hwId=.....]
                        .column.is-narrow
                            button.button.is-outlined.is-success.btn-import-blooket.mt-4(type="button") Go
                .field
                    label.label Import Manually
                    .control
                        textarea.textarea(rows="8" cols="40" required)
                    p.help Each term/definition pair should be on its own line. Separate terms and definitions with two spaces
            footer.modal-card-foot
                button.button.is-success(type="button") OK
    .modal#dialog-configure-shared
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Share This Set
                button.delete(aria-label="close")
            section.modal-card-body
                article.message.is-info
                    .message-body Shared sets can only be viewed by their creators and users that they are shared with.
                .field
                    label.label Share With:
                    .control
                        input.input(type="text" placeholder="user1@example.com user2@example.com")
                    .help Enter the email addresses of the users you would like to share this set with. Seperate multiple email addresses with #[strong a space].
                p You can come back to this dialog at any time by selecting "Shared" again in the set visibility dropdown.
            footer.modal-card-foot
                button.button.is-success.action-close(type="button") OK
    script(src="js/set-editor.js" type="module")
