extends includes/layout.pug
block variables
    - var title = "Set Detail";
    - var description = "Study a set, using one or more of our modes";
block main-stylesheet
    link(rel="stylesheet" href="css/set-detail.scss")
block extrahead
    script(src="js/qrcode.min.js")
block content
    .page#flashcards
        h1 Flashcards - 
            span
            p.is-size-6.has-text-weight-bold(style="line-height: normal;")
                span 0
                |  / 
                span 0
                |  terms
        .columns.is-flex-touch
            .is-flex.column.is-narrow
                p.mb-2 #[strong Answer With:]
                .field
                    input#radio-flashcards-answer-term.is-checkradio(type="radio" name="radio-flashcards-answer-with")
                    label(for="radio-flashcards-answer-term") Term
                .field.mb-4
                    input#radio-flashcards-answer-definition.is-checkradio(type="radio" name="radio-flashcards-answer-with")
                    label(for="radio-flashcards-answer-definition") Definition
                .field
                    input#check-flashcard-starred.is-checkradio(type="checkbox")
                    label(for="check-flashcard-starred") Only Starred
                div.mt-auto
                    button.button
                        span.icon
                            i.material-symbols-rounded loop
                        span Shuffle
            .column.is-flex.is-flex-direction-column
                .is-flex-grow-1.is-clickable.is-relative
                .is-flex.mt-5.is-justify-content-space-evenly
                    button.button
                        kbd.is-hidden-touch.mr-1 ←
                        span Previous
                    button.button.is-primary
                        span.icon
                            i.material-symbols-rounded.is-filled change_circle
                        span Flip #[kbd.is-hidden-touch Space]
                    button.button
                        span Next
                        kbd.is-hidden-touch.ml-1 →
    .page#learn
        h1.title.is4
            | Learn - 
            span
        div
            div(style='flex-shrink: 0;')
                p(style='margin: 0;')
                    strong Answer With:
                div
                    .mdc-form-field.answer-with
                        .mdc-radio.mdc-radio--touch
                            input#radio-learn-answer-term.mdc-radio__native-control(type='radio', name='radio-learn-answer-with', checked='')
                            .mdc-radio__background
                                .mdc-radio__outer-circle
                                .mdc-radio__inner-circle
                            .mdc-radio__ripple
                        label(for='radio-learn-answer-term') Term
                div
                    .mdc-form-field.answer-with
                        .mdc-radio.mdc-radio--touch
                            input#radio-learn-answer-definition.mdc-radio__native-control(type='radio', name='radio-learn-answer-with')
                            .mdc-radio__background
                                .mdc-radio__outer-circle
                                .mdc-radio__inner-circle
                            .mdc-radio__ripple
                        label(for='radio-learn-answer-definition') Definition
                div
                    .mdc-form-field.check-starred
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-learn-starred")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-learn-starred") Only Starred
                p(style='margin-bottom: 0;')
                    strong Progress:
                em(style='padding: 0;')
                    span#learn-num-terms
                    |    terms
                p(style='margin: 0; margin-top: 8px;') Multiple Choice:
                .mdc-circular-progress(style='width:48px;height:48px;', role='progressbar', aria-label='Multiple Choice Progress', aria-valuemin='0', aria-valuemax='1')
                    .mdc-circular-progress__determinate-container
                        svg.mdc-circular-progress__determinate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                            circle.mdc-circular-progress__determinate-track(cx='24', cy='24', r='18', stroke-width='4')
                            circle.mdc-circular-progress__determinate-circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='113.097', stroke-width='4')
                    .mdc-circular-progress__indeterminate-container
                        .mdc-circular-progress__spinner-layer
                            .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-left
                                svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                            .mdc-circular-progress__gap-patch
                                svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='3.2')
                            .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-right
                                svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                p(style='margin: 0;') Short Answer:
                .mdc-circular-progress(style='width:48px;height:48px;', role='progressbar', aria-label='Short Answer Progress', aria-valuemin='0', aria-valuemax='1')
                    .mdc-circular-progress__determinate-container
                        svg.mdc-circular-progress__determinate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                            circle.mdc-circular-progress__determinate-track(cx='24', cy='24', r='18', stroke-width='4')
                            circle.mdc-circular-progress__determinate-circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='113.097', stroke-width='4')
                    .mdc-circular-progress__indeterminate-container
                        .mdc-circular-progress__spinner-layer
                            .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-left
                                svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
                            .mdc-circular-progress__gap-patch
                                svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='3.2')
                            .mdc-circular-progress__circle-clipper.mdc-circular-progress__circle-right
                                svg.mdc-circular-progress__indeterminate-circle-graphic(viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='24', cy='24', r='18', stroke-dasharray='113.097', stroke-dashoffset='56.549', stroke-width='4')
            div(style="overflow-x: auto;")
                p.title.is3.fit
                div
                    p.mdc-typography--body1(style="font-size: 8px;") Tip: Use the number keys 1-4 to answer multiple choice questions
                    p(hidden='')
                        button.button.button--icon-trailing(type='button')
                            span.button__ripple
                            span.button__label Most Missed Questions
                            i.material-symbols-rounded.button__icon(aria-hidden='true') open_in_new
                    p.answer-correct.mdc-typography-button(hidden='')
                        | Correct!
                        br
                        strong correct answer
                        br
                        | Press 
                        kbd Enter
                        |    or click here to move on
                    p.answer-incorrect.mdc-typography-button(hidden='')
                        | Incorrect - the correct answer is:
                        br
                        strong correct answer
                        br
                        | Press 
                        kbd Enter
                        |    or click here to move on
                        button.button(type='button')
                            span.button__ripple
                            span.button__label Override - Correct
                div
                    accent-keyboard.custom-scrollbar
                    label.mdc-text-field.mdc-text-field--outlined(style='width: calc(97% - 85px);')
                        span.mdc-notched-outline
                            span.mdc-notched-outline__leading
                            span.mdc-notched-outline__notch
                                span#learn-inputbox-label.mdc-floating-label Your Answer
                            span.mdc-notched-outline__trailing
                        input.mdc-text-field__input(type='text' aria-labelledby='learn-inputbox-label' required)
                    button.button.button--raised(type='button')
                        span.button__ripple
                        span.button__label Check
                fieldset
                    button.button.button--outlined.button--icon-leading(data-answerindex='0')
                        span.button__ripple
                        i.material-symbols-rounded.button__icon(aria-hidden='true') filter_1
                        span.fit.button__label Option 1
                    button.button.button--outlined.button--icon-leading(data-answerindex='1')
                        span.button__ripple
                        i.material-symbols-rounded.button__icon(aria-hidden='true') filter_2
                        span.fit.button__label Option 2
                    button.button.button--outlined.button--icon-leading(data-answerindex='3')
                        span.button__ripple
                        i.material-symbols-rounded.button__icon(aria-hidden='true') filter_3
                        span.fit.button__label Option 3
                    button.button.button--outlined.button--icon-leading(data-answerindex='4')
                        span.button__ripple
                        i.material-symbols-rounded.button__icon(aria-hidden='true') filter_4
                        span.fit.button__label Option 4
    .page#test.is-thumb-only
        h1.title.is4
            | Test - 
            span
        div
            div.custom-scrollbar(style='width: 16%; overflow-x: auto;')
                p(style="margin: 0;")
                    strong Answer With:
                div
                    .mdc-form-field.answer-with
                        .mdc-radio.mdc-radio--touch
                            input#radio-test-answer-term.mdc-radio__native-control(type='radio', name='radio-test-answer-with', checked='')
                            .mdc-radio__background
                                .mdc-radio__outer-circle
                                .mdc-radio__inner-circle
                            .mdc-radio__ripple
                        wbr
                        label(for='radio-test-answer-term') Term
                div
                    .mdc-form-field.answer-with
                        .mdc-radio.mdc-radio--touch
                            input#radio-test-answer-definition.mdc-radio__native-control(type='radio', name='radio-test-answer-with')
                            .mdc-radio__background
                                .mdc-radio__outer-circle
                                .mdc-radio__inner-circle
                            .mdc-radio__ripple
                        wbr
                        label(for='radio-test-answer-definition') Definition
                p(style="margin: 0;")
                    strong Question Types:
                div
                    .mdc-form-field.check-test-question-types
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-sa")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-test-question-sa") Short Answer
                div
                    .mdc-form-field.check-test-question-types
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-mc")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-test-question-mc") Multiple Choice
                div
                    .mdc-form-field.check-test-question-types
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-mt")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-test-question-mt") Matching
                div
                    .mdc-form-field.check-test-question-types
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-test-question-tf")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-test-question-tf") True/False
                div
                    .mdc-form-field.check-starred
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-test-starred")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-test-starred") Only Starred
                label.mdc-text-field.mdc-text-field--filled.field-max-terms(style="width: 100%; margin-bottom: 4px;")
                    span.mdc-text-field__ripple
                    span.mdc-floating-label Max Terms
                    input.mdc-text-field__input(type="number" min="0")
                    span.mdc-line-ripple
                button.button.button--icon-leading.button--outlined(style='display: block; margin-bottom: 8px')
                    span.button__ripple
                    i.material-symbols-rounded.button__icon(aria-hidden='true') loop
                    span.button__label New Test
                button.button.button--icon-leading.button--raised
                    span.button__ripple
                    i.material-symbols-rounded.button__icon(aria-hidden='true') check_circle
                    span.button__label Check Answers
            fieldset.custom-scrollbar
                h2.title.is4(data-count='0')  Short Answer Question
                div
                h2.title.is4(data-count='0')  Multiple Choice Question
                div
                h2.title.is4(data-count='0')
                    |  Matching Question
                    p.mdc-typography--body1(style='margin:0;') Select an item on the left, then choose the matching item on the right
                div(style='display:flex;flex-direction:row;gap:20%;position:relative')
                    div
                    div
                    .matches-container
                h2.title.is4(data-count='0')  True/False Question
                div
    .page#match
        h1.title.is4
            | Match - 
            span
        div
            div(style='width: 16%; overflow-x: auto;')
                p(style="margin:0; padding:0;")
                    strong Answer With:
                div
                    .mdc-form-field.answer-with
                        .mdc-radio.mdc-radio--touch
                            input#radio-match-answer-term.mdc-radio__native-control(type='radio' name='radio-match-answer-with')
                            .mdc-radio__background
                                .mdc-radio__outer-circle
                                .mdc-radio__inner-circle
                            .mdc-radio__ripple
                        label(for='radio-match-answer-term') Term
                div
                    .mdc-form-field.answer-with
                        .mdc-radio.mdc-radio--touch
                            input#radio-match-answer-definition.mdc-radio__native-control(type='radio' name='radio-match-answer-with' checked)
                            .mdc-radio__background
                                .mdc-radio__outer-circle
                                .mdc-radio__inner-circle
                            .mdc-radio__ripple
                        label(for='radio-match-answer-definition') Definition
                div
                    .mdc-form-field.check-starred
                        .mdc-checkbox
                            input.mdc-checkbox__native-control(type="checkbox" id="check-match-starred")
                            .mdc-checkbox__background
                                svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                                    path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
                                .mdc-checkbox__mixedmark
                            .mdc-checkbox__ripple
                        label(for="check-match-starred") Only Starred
                p(style="margin: 0;") Time: 
                    span.field-time 0.0
                    | s
                button.button.button--icon-leading.button--outlined.btn-refresh(style='margin-bottom: 8px;')
                    span.button__ripple
                    i.material-symbols-rounded.button__icon(aria-hidden='true') loop
                    span.button__label Restart
                button.mdc-icon-button.btn-refresh(style='margin-bottom: 8px')
                    .mdc-icon-button__ripple
                    span.mdc-icon-button__focus-ring
                    i.material-symbols-rounded loop
                h2.title.is6(style="margin-bottom: 0; padding-bottom: 0;") Help:
                p(style="margin: 0; font-size: small;")
                    strong Mouse:
                    br
                    | Drag the items from left to right
                    br
                    strong Touch:
                    br
                    | Tap a left item, then tap a right item
            div
                .custom-scrollbar
                .custom-scrollbar
    .page.is-relative#home.is-flex-direction-column(style="--page-display: flex;")
        h1
            span.field-name
            button.button.btn-like.ml-4.has-text-white.is-pulled-right.is-ghost(type="button" style="text-decoration: none;")
                span.icon
                    i.material-symbols-rounded(aria-hidden="true") thumb_up
                span.ml-1 Like
            p.subtitle.is-6.is-pulled-right.has-text-white(style="margin-top: 10px;")
                span.field-num-terms
                |  terms
        p.field-description
        hr.my-3
        .columns.main-content.is-flex-direction-row-reverse.is-flex-grow-1.custom-scrollbar.is-thumb-only(style="overflow: auto; overflow-wrap: break-word;")
            .column.is-narrow
                .study-modes.box.buttons.are-medium.custom-scrollbar.is-thumb-only(style="width: min-content; height: 100%; overflow: auto;")
                    a.button.is-primary.is-fullwidth(href="#flashcards")
                        span.icon
                            i.material-symbols-rounded.is-filled(aria-hidden="true") collections
                        span Flashcards
                    a.button.is-primary.is-outlined.is-fullwidth(href="#learn")
                        span.icon
                            i.material-symbols-rounded.is-filled(aria-hidden="true") quiz
                        span Learn
                    a.button.is-primary.is-outlined.is-fullwidth(href="#test")
                        span.icon
                            i.material-symbols-rounded.is-filled(aria-hidden="true") assignment
                        span Test
                    a.button.is-primary.is-outlined.is-fullwidth(href="#match")
                        span.icon
                            i.material-symbols-rounded.is-filled(aria-hidden="true") attach_file
                        span Match
                    button.button.is-normal.btn-export-terms.is-fullwidth
                        span.icon
                            i.material-symbols-rounded.is-filled(aria-hidden="true") file_download
                        span Export
            .column.custom-scrollbar.is-thumb-only(style="overflow: auto;")
                .field-terms.columns.is-multiline
        .page-loader
            .loader-container
                span.loader.is-size-1
        include includes/comment-quickview
append scripts-footer
    .mdc-dialog#modal-match-done
        .mdc-dialog__container
            .mdc-dialog__surface(role="alertdialog" aria-modal="true")
                h2.mdc-dialog__title All Done!
                .mdc-dialog__content
                    p(style="margin: 0;") You took 
                        strong.field-time-taken
                        |  seconds to finish
                        br
                        strong Leaderboard:
                    ul.mdc-list(data-evolution="true")
                .mdc-dialog__actions
                    button.button.mdc-dialog__button(type="button" data-mdc-dialog-action="close")
                        .button__ripple
                        span.button__label Back
                    button.button.mdc-dialog__button(type="button" data-mdc-dialog-action="accept")
                        .button__ripple
                        span.button__label Restart
    .modal#modal-export-terms
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Share
                button.delete(aria-label="close")
            section.modal-card-body.custom-scrollbar.is-thumb-only
                .list.has-hoverable-list-items
                    .list-item
                        .list-item-content
                            .list-item-title Set URL
                            .list-item-description
                                a.share-link(target="_blank" style="word-break: break-all;")
                        .list-item-controls
                            .buttons
                                button.button.btn-copy-link(type="button" title="Copy")
                                    span.icon
                                        i.material-symbols-rounded content_paste
                                button.button.btn-shorten-link(type="button" title="Shorten")
                                    span.icon
                                        i.material-symbols-rounded app_shortcut
                                button.button.btn-share(type="button" title="Share")
                                    span.icon
                                        i.material-symbols-rounded share
                    .list-item
                        .list-item-content
                            .list-item-title Export
                            .list-item-description
                                p.m-0 Paste this into the #[code Import Terms] dialog to copy this set:
                                pre.custom-scrollbar(style="max-width: 100%; overflow: auto;")
                        .list-item-controls
                            .buttons
                                button.button.btn-copy(type="button" title="Copy Terms")
                                    span.icon
                                        i.material-symbols-rounded content_paste
                    .list-item
                        .list-item-content
                            .list-item-title QR Code
                            .list-item-description
                               #set-qrcode
                        .list-item-controls
                            .buttons
                                button.button.btn-copy-qrcode(type="button" title="Copy Terms")
                                    span.icon
                                        i.material-symbols-rounded content_paste
            footer.modal-card-foot
                button.button.is-success.action-close(type="button") OK
    script(src="js/set-detail.js" type="module")