extends includes/layout.pug
block variables
    - var title = "Sets by User";
    - var description = "View Created by This User";
block content
    #home.page
        h1 Sets by User - 
            span.field-user-name(style="word-break: break-word; --studymode-header-width: 240px;")
        .set-container(data-empty="This user has not made any sets")
        button.button.is-primary.is-outlined.mt-2(style="display: block;" hidden) Load More
append scripts-footer
    script(src="js/user-sets.ts" type="module")
